<? require(ViewDir.'/header.html');?>

<link rel="stylesheet" href="<?=StaticDir?>1.2/css/details.css">

<style type="text/css">
    .info-pic {
        max-width: 250px;
        max-height: 100px;
    }
</style>

<!--出售信息弹层-->
<div class="mj-infoM" style="width:99%">
<form name="setClass" id="setClass" >
    <input type="hidden" name="id" value="<?=$id?>" />
    <input type="hidden" name="pic" class="bzpic" value="<?=$info['pic']?>" />
    <input type="hidden" name="class" id="allClass" value="<?=$info['desc']?>" />
    <div class="bzform">
        <img id="bzpic" src="<?=$info['pic']?>" onerror="this.src='/Static/1.2/images/u143.png'" class="info-pic" >
        <input type="hidden" name="size" value="500" style="display: none;"/>
        <input type="file" id="bzfile" name="fileName" style="display: inline-block;"/>
    </div> 
    
    <div class="alert alert-warning" style="padding:2px;margin-bottom:10px;margin-top:10px;" role="alert">
    广告图片建议尺寸为 ( xxx ) x ( xxx )，文件最大不超过500kb，当前支持jpg,bmp,png格式文件
    </div>
    <label>分类名称：</label>
    <input type="input" class="form-control" name="name" value="<?=$info['link']?>"  style="margin-bottom:5px;">
    <label>包含的分类：</label>
    <div style="margin-bottom:10px;margin-top:5px;">
        <? foreach (range(1,45) as $k => $v) { ?>
            <span style="display:inline-block;">
            <input type="checkbox" class="allClass" <?if(in_array($v, $allClass)){echo 'checked';}?> tname="allClass" value="<?=$v?>">&nbsp;<?=$v?>类
            </span>&nbsp;&nbsp;
        <? } ?>
    </div>
    <div style="bottom:10px;position: fixed;">
        <a href="javascript:void(0);" class="mj-liBtns" onclick="opContact();">确定</a>
        <a href="javascript:void(0);" class="mj-liBtns mj-abgcg" onclick="closeAll();">取消</a>
    </div>
    
</form>
</div>

<script type="text/javascript">
    $(function(){
        $(".mj-infoM").show();

        //多选处理
        $('input[type="checkbox"]').click(function(){
            var strClass = '';
            var id = $(this).attr('tname');
            $('.'+id).each(function(){
                if($(this).prop('checked')){
                    strClass += ","+$(this).val();
                }
            })
            strClass = strClass ? strClass.substr(1) : '';
            $('#'+id).val(strClass);
        });

        $(".bzform").wrap("<form id='bzformupload' action='/basic/ajaxUploadPic/' method='post' enctype='multipart/form-data'></form>");
        $("#bzfile").on('change', function(){
            $("#bzformupload").ajaxSubmit({
                dataType:  'json',
                success: function(data) {
                    if (data.code == 1){
                        $('.bzpic').val(data.img);
                        $('#bzpic').attr('src', data.img);
                        //$('#imageurl').css('visibility', 'visible');
                    }else{
                        alert(data.msg);
                    }
                },
                error:function(xhr){
                    alert('图片格式不正确或图片过大，请重新上传！');
                }
            });
        });
    });

    function closeAll()
    {
        parent.layer.closeAll();
    }
    function opContact()
    {
        var data = $("#setClass").serialize();
        $.ajax({
            type : 'post',
            url  : '/basic/setClass/',
            data : data,
            dataType : 'json',
            success : function (data){
                if (data.code==1){
                    layer.msg('操作成功！', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        parent.window.location.reload();
                    });
                }else{
                    layer.msg(data.msg, {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            },
            error : function (data){
                layer.msg('操作失败，请稍后重试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    }

</script>

<? require(ViewDir.'/footer.html'); ?>

