<? require(ViewDir.'/header.html');?>

<link rel="stylesheet" href="<?=StaticDir?>1.2/css/blacklist.css">
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/main.css">
<style type="text/css">
    .info-show {
        position: absolute;
        z-index: 1000;
        display: none;
    }
    .info-pic {
        max-width: 200px;
        max-height: 100px;
    }
    .margin-sx-10 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .img-flip {
        position:absolute;
        width:16px;
        height:16px;
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
</style>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li>首页</li>
        <li>站点管理</li>
        <li>首页基本配置</li>
    </ul>
    <!-- <span style="float:right;margin-right:20px;color:red;">在售商标总数：<?=$total ?></span> -->
</div>
<div class="wrap">
    <div class="wrap-top">
        <h4>首页基本配置</h4><span></span>
    </div>
    <div class="alert alert-warning" style="padding:2px;margin-bottom:10px;" role="alert">
        您可以在此管理首页的基本信息。
    </div>
    <div class="wrap-top">
        <h4>BANNER图管理<img class="info-icon" src="<?=StaticDir?>1.2/images/u253.gif"></h4><span></span>
        <img class="info-show" src="<?=StaticDir?>1.2/images/u279.png" />
    </div>
    <div class="alert alert-warning" style="padding:2px;margin-bottom:10px;" role="alert">
        您可以在此管理首页的banner图，最多可创建 5 条
    </div>
    
    <div class="wrap-table">
        <table class="table table-hover" style="border: 1px solid #dadada;margin-bottom: 0">
            <thead>
                <tr class="active">
                    <th width="25%">广告图</th>
                    <th width="10%">内嵌模块</th>
                    <th width="40%">链接</th>
                    <th width="25%">操作</th>
                </tr>
            </thead>
            <tbody class="table-list">
            <? foreach ($list[1] as $k => $v) { ?>
                <tr>
                    <td align="center" style="vertical-align:middle">
                    <img class="info-pic" src="<?=$v['pic']?$v['pic']:'error'?>" onerror="this.src='/Static/1.2/images/u143.png'" /></td>
                    <td align="center" style="vertical-align:middle">
                    <?=$v['other']==1?'购买模块':'无'?></td>
                    <td style="vertical-align:middle"><?=empty($v['link'])?'无':$v['link']?></td>
                    <td style="vertical-align:middle">
                        <span class="icon icon-delete">
                            <a href="javascript:;" onclick="cancel(<?=$v['id']?>)"  class="btn-warning">删除</a>
                        </span>
                        <span class="icon icon-editor">
                            <a href="javascript:void(0);" onclick="showEdit(<?=$v['id']?>)" class="btn-info">编辑</a>
                        </span>
                        &nbsp;&nbsp;
                        <!-- 向下  -->
                        <span onclick="orderBasic(<?=$v['id']?>, 1, 1)">
                            <img class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                        </span>
                        &nbsp;
                        <!-- 向上  -->
                        <span class="img-flip"  onclick="orderBasic(<?=$v['id']?>, 2, 1)">
                            <img class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                        </span>
                      </div>
                    </td>
                </tr>
            <? } ?>
            </tbody>
        </table>
    </div>
    <div class="margin-sx-10">
        <button class="btn btn-danger" id="add-banner" type="button" <?if(count($list[1])>=5){echo 'disabled="disabled"';}?> >创建banner图</button>
    </div>
    
    <div class="wrap-top">
        <h4>热门搜索词<img class="info-icon" src="<?=StaticDir?>1.2/images/u253.gif"></h4><span></span>
        <img class="info-show" src="<?=StaticDir?>1.2/images/u276.png" />
    </div>
    <div class="alert alert-warning" style="padding:2px;margin-bottom:10px;" role="alert">
        每条热门的名称最多不可超过8个中文字符。最多可以创建10条。
    </div>
    
    <div class="wrap-table">
        <table class="table table-hover" style="border: 1px solid #dadada;margin-bottom: 0">
            <thead>
                <tr class="active">
                    <th width="20%">热门交易标题</th>
                    <th width="15%">是否着重展示</th>
                    <th width="40%">链接</th>
                    <th width="25%">操作</th>
                </tr>
            </thead>
            <tbody class="table-list">
            <? foreach ($list[2] as $k => $v) { ?>
                <tr>
                    <td style="vertical-align:middle"><?=$v['desc']?></td>
                    <td style="vertical-align:middle"><?=$v['other']==0?'否':'是'?><?if(!empty($INDEX_WORD_STRESS[$v['other']])){echo '('.$INDEX_WORD_STRESS[$v['other']].')';}?></td>
                    <td style="vertical-align:middle"><?=empty($v['link'])?'无':$v['link']?></td>
                    <td style="vertical-align:middle">
                        <span class="icon icon-delete">
                            <a href="javascript:;" onclick="cancel(<?=$v['id']?>)"  class="btn-warning">删除</a>
                        </span>
                        <span class="icon icon-editor">
                        <a href="javascript:void(0);" onclick="wordEdit(<?=$v['id']?>)" class="btn-info">编辑</a>
                        </span>
                        &nbsp;&nbsp;
                        <span onclick="orderBasic(<?=$v['id']?>, 1, 2)">
                            <img class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                        </span>
                        &nbsp;
                        <span class="img-flip" onclick="orderBasic(<?=$v['id']?>, 2, 2)">
                            <img class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                        </span>
                    </td>
                </tr>
            <? } ?>
            </tbody>
        </table>
    </div>

    <div class="margin-sx-10">
        <button class="btn btn-danger" id="add-word" type="button" <?if(count($list[2])>=10){echo 'disabled="disabled"';}?>>创建新搜索词</button>
    </div>

    <div class="wrap-top">
        <h4>滑动广告设置<img class="info-icon" src="<?=StaticDir?>1.2/images/u253.gif"></h4><span></span>
    </div>
    
    <div class="wrap-table">
        <table class="table table-hover" style="border: 1px solid #dadada;margin-bottom: 0">
            <thead>
                <tr class="active">
                    <th width="20%">广告图</th>
                    <th width="40%">链接</th>
                    <th width="25%">操作</th>
                </tr>
            </thead>
            <tbody class="table-list">
            <? foreach ($list[3] as $k => $v) { ?>
                <tr>
                    <td align="center" style="vertical-align:middle">
                    <img class="info-pic" src="<?=$v['pic']?$v['pic']:'error'?>" onerror="this.src='/Static/1.2/images/u143.png'" /></td>
                    <td style="vertical-align:middle"><?=empty($v['link'])?'无':$v['link']?></td>
                    <td style="vertical-align:middle">
                        <span class="icon icon-delete">
                            <a href="javascript:;" onclick="cancel(<?=$v['id']?>)"  class="btn-warning">删除</a>
                        </span>
                        <span class="icon icon-editor">
                        <a href="javascript:void(0);" onclick="slideEdit(<?=$v['id']?>)" class="btn-info">编辑</a>
                        </span>
                        &nbsp;&nbsp;
                        <span onclick="orderBasic(<?=$v['id']?>, 1, 3)">
                            <img class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                        </span>
                        &nbsp;
                        <span class="img-flip" onclick="orderBasic(<?=$v['id']?>, 2, 3)">
                            <img class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                        </span>
                    </td>
                </tr>
            <? } ?>
            </tbody>
        </table>
    </div>

    <div class="margin-sx-10">
        <button class="btn btn-danger" id="add-slide" type="button">创建滑动广告图</button>
    </div>

    <div class="wrap-top">
        <h4>推荐分类设置<img class="info-icon" src="<?=StaticDir?>1.2/images/u253.gif"></h4><span></span>
    </div>

    <div class="wrap-table">
        <table class="table table-hover" style="border: 1px solid #dadada;margin-bottom: 0">
            <thead>
                <tr class="active">
                    <th width="25%">分类名称</th>
                    <th width="50%">包含的分类</th>
                    <th width="25%">操作</th>
                </tr>
            </thead>
            <tbody class="table-list">
            <? foreach ($list[4] as $k => $v) { ?>
                <tr>
                    <td style="vertical-align:middle" class="td-pic"><?=$v['link']?><img class="info-show info-pic" src="<?=$v['pic']?$v['pic']:'error'?>" onerror="this.src='/Static/1.2/images/u143.png'" /></td>
                    <td style="vertical-align:middle"><?$c=array_filter(explode(',', $v['desc']));echo count($c);?></td>
                    <td style="vertical-align:middle">
                        <span class="icon icon-editor">
                        <a href="javascript:void(0);" onclick="classEdit(<?=$v['id']?>)" class="btn-info">编辑</a>
                        </span>
                        &nbsp;&nbsp;
                        <span onclick="orderBasic(<?=$v['id']?>, 1, 4)">
                            <img class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                        </span>
                        &nbsp;
                        <span class="img-flip"  onclick="orderBasic(<?=$v['id']?>, 2, 4)">
                            <img class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                        </span>
                    </td>
                </tr>
            <? } ?>
            </tbody>
        </table>
    </div>
    <br>
    <br>
</div>




<script type="text/javascript">
    $(function(){
        //info
        $(".info-icon").hover(function(){
            $(this).parent().parent().children('.info-show').css('display', 'inline-block');
        },function(){
            $(this).parent().parent().children('.info-show').hide();
        });
        $(".td-pic").hover(function(){
            $(this).children('.info-show').css('display', 'inline-block');
        },function(){
            $(this).children('.info-show').hide();
        });

        $("#add-banner").click(function(){
            layer.open({
                type: 2,
                scrollbar: false,
                title: '创建广告图',
                area: ['650px', '430px'],

                content: '/basic/addBannber/'
            });
        });

        $("#add-word").click(function(){
            layer.open({
                type: 2,
                scrollbar: false,
                title: '创建热门搜索词',
                area: ['650px', '400px'],

                content: '/basic/addWord/'
            });
        });

        $("#add-slide").click(function(){
            layer.open({
                type: 2,
                scrollbar: false,
                title: '创建滑动广告图',
                area: ['650px', '400px'],

                content: '/basic/addSlide/'
            });
        });
    });

    function orderBasic(id, updown, type)
    {
        if ( id == '' || updown == '' ) return false;
        $.ajax({
            type : 'post',
            url  : '/basic/orderBasic/',
            data : {id:id,updown:updown,type:type},
            dataType : 'json',
            success : function (data){
                if (data.code==1){
                    layer.msg('操作成功', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg(data.msg, {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            },
            error : function (data){
                layer.msg('操作失败，请稍后重试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    }

    function showEdit(id)
    {
        if ( id == '' || id == 0 ) return false;
        layer.open({
            type: 2,
            scrollbar: false,
            title: '修改广告图',
            area: ['600px', '430px'],

            content: '/basic/editBanner/?id='+id
        });
    }

    function wordEdit(id)
    {
        if ( id == '' || id == 0 ) return false;
        layer.open({
            type: 2,
            scrollbar: false,
            title: '修改热门搜索词',
            area: ['600px', '430px'],

            content: '/basic/editWord/?id='+id
        });
    }

    function slideEdit(id)
    {
        if ( id == '' || id == 0 ) return false;
        layer.open({
            type: 2,
            scrollbar: false,
            title: '修改滑动广告图',
            area: ['600px', '430px'],

            content: '/basic/editSlide/?id='+id
        });
    }

    function classEdit(id)
    {
        if ( id == '' || id == 0 ) return false;
        layer.open({
            type: 2,
            scrollbar: false,
            title: '修改推荐分类',
            area: ['650px', '480px'],

            content: '/basic/editClass/?id='+id
        });
    }
    function cancel(id)
    {
        if ( id == '' || id == 0 ) return false;
            layer.confirm('确定要删除吗？', {
            btn: ['是的','算了'], //按钮
            scrollbar: false,
        }, function(){
            $.ajax({
                type : 'post',
                url  : '/basic/delBasic/',
                data : {id:id},
                dataType : 'json',
                success : function (data){
                    if (data.code==1){
                        layer.msg('操作成功', {
                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            window.location.reload();
                        });
                    }else{
                        var msg = data.msg == undefined ? '操作失败' : data.msg;
                        layer.msg(msg);
                    }
                },
                error : function (data){
                    layer.msg('操作失败，请稍后重试。');
                }
            });
        });
    }
</script>

<? require(ViewDir.'/footer.html'); ?>