<? require(ViewDir.'/header.html');?>

<link rel="stylesheet" href="<?=StaticDir?>1.2/css/details.css">

<style type="text/css">
    .info-pic {
        max-width: 250px;
        max-height: 100px;
    }
</style>

<!--出售信息弹层-->
<div class="mj-infoM" style="width:99%">
<form name="setSlide" id="setSlide" >
    <input type="hidden" name="id" value="<?=$id?>" />
    <input type="hidden" name="pic" class="bzpic" value="<?=$info['pic']?>" />
    <div class="bzform">
        <img id="bzpic" src="<?=$info['pic']?$info['pic']:'error'?>" onclick="bzfile.click();" title="点击修改" onerror="this.src='/Static/1.2/images/u143.png'" class="info-pic" >
        <input type="hidden" name="size" value="500" style="display: none;"/>
        <input type="file" id="bzfile" name="fileName" style="display: none;"/>
    </div> 
    
    <div class="alert alert-warning" style="padding:2px;margin-bottom:10px;margin-top:10px;" role="alert">
    广告图片建议尺寸为 ( 235 ) x ( 140 )，文件最大不超过500kb，当前支持jpg,bmp,png格式文件
    </div>
    <label>图片链接：</label>
    <input type="input" class="form-control" name="link" value="<?=$info['link']?>">

    <div class="alert alert-warning" style="padding:2px;margin-bottom:10px;margin-top:10px;" role="alert">
    请输入该广告链接，未输入链接则该图片不可点击。
    </div>
    <label>ALT描述：</label>
    <input type="input" class="form-control" name="alt" value="<?=$info['alt']?>">
    <div style="bottom:15px;position: fixed;">
        <button type="button" id="myButton" class="btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp;确定&nbsp;&nbsp;&nbsp;&nbsp;</button>
        <button type="button" onclick="closeAll();" class="btn btn-warning">&nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;</button>
    </div>
    
</form>
</div>

<script type="text/javascript">
    $(function(){
        $(".mj-infoM").show();

        $(".bzform").wrap("<form id='bzformupload' action='/basic/ajaxUploadPic/' method='post' enctype='multipart/form-data'></form>");
        $("#bzfile").on('change', function(){
            $("#bzformupload").ajaxSubmit({
                dataType:  'json',
                success: function(data) {
                    if (data.code == 1){
                        $('.bzpic').val(data.img);
                        $('#bzpic').attr('src', data.img);
                        //$('#imageurl').css('visibility', 'visible');
                    }else{
                        alert(data.msg);
                    }
                },
                error:function(xhr){
                    alert('图片格式不正确或图片过大，请重新上传！');
                }
            });
        });

        $("#myButton").on('click', function (){
            var _this = $(this);
            var data = $("#setSlide").serialize();
            _this.attr('disabled', true)
            $.ajax({
                type : 'post',
                url  : '/basic/setSlide/',
                data : data,
                dataType : 'json',
                success : function (data){
                    if (data.code==1){
                        layer.msg('操作成功！', {
                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            parent.window.location.reload();
                        });
                    }else{
                        layer.msg(data.msg, {
                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                        },function(){ _this.attr('disabled', false) });
                    }
                },
                error : function (data){
                    layer.msg('操作失败，请稍后重试。', {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    },function(){ _this.attr('disabled', false) });
                }
            });
        });

    });

    function closeAll()
    {
        parent.layer.closeAll();
    }

</script>

<? require(ViewDir.'/footer.html'); ?>

