<? require(ViewDir.'/header.html');?>

<link rel="stylesheet" href="<?=StaticDir?>1.2/css/main.css">

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li>首页</li>
        <li>首页模块设置</li>
        <li>首页模块设置列表</li>
    </ul>
</div>
<div class="wrap">
    <div class="wrap-content">
		<p class="text-left" style="float:left;margin-top:20px;padding:0 5px 0 5px;background-color:#FFFF99;border:1px solid #dadada;">您可以在此管理首页推荐的商品模块，并为每个模块添加分类和商品。建议每个模块至少有两个分类。共有 <b class="red"><?=$total?></b> 条数据</p>
        <br>
		<br>
		<br>
        <div class="wrap-table">
            <table class="table table-hover" style="border: 1px solid #dadada;margin-bottom: 0">
                <thead>
                    <tr class="active">
                        <th>模块名称</th>
                        <th>子分类</th>
                        <th>包含广告条数</th>
                        <th>推广链接条数</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="table-list">
                <? foreach ($list as $k => $v) {  ?>
                <tr>
                    <td><?=$v['name']?></td>
					<td><?=$v['classNum']?></td>
					<td><?=$v['adsNum']?></td>
					<td><?=$v['linkNum']?></td>
                    <td>
						<a href="/internal/edit/?id=<?=$v['id']?>" class="btn-info">编辑</a>
						<a href="/internal/edit/?id=<?=$v['id']?>" class="btn-info">删除</a> | 
						<a href="/internal/edit/?id=<?=$v['id']?>" class="btn-info">向下</a>
						<a href="/internal/edit/?id=<?=$v['id']?>" class="btn-info">向上</a>
                    </td>
                </tr>
                <? } ?>
                </tbody>
            </table>
        </div>   
		<br>
		<div class="btn-group">
            <button class="btn btn-danger" onclick="add();"    type="button">+ 创建一个模块</button>
        </div>
		
    </div>
</div>

<script type="text/javascript" src="<?=StaticDir?>1.2/js/internal/updown.js"></script>

<script src="<?=StaticDir?>1.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function(){
        $(".mj-screening .btn").click(function(){
            $(".mj-ddList").toggle();
        });
        $(".mj-sBtn").click(function(){
            $("#saleSearchForm").submit();
        });
        //多选处理
        $('input[type="checkbox"]').click(function(){
            var strClass = '';
            var id = $(this).attr('tname');
            $('.'+id).each(function(){
                if($(this).prop('checked')){
                    strClass += ","+$(this).val();
                }
            })
            strClass = strClass ? strClass.substr(1) : '';
            $('#'+id).val(strClass);
        });
        $(".table tr td.showMore").hover(function(){
            $(this).parent('tr').find('.more > ul').show();
        },function(){
            $(this).parent('tr').find('.more > ul').hide();
        });

        $('#chkAll').click(function(){ 
            $('.chklist').prop("checked",this.checked);
        });

		$(".im-title-span").on("click",function(){
            layer.closeAll('im-wrap');
        });
		
		//提交导出
		$('.nexta').click(function(){
		
			var str = '';
			$('.excelTable').each(function(){
				if($(this).prop('checked')){
					str += ","+$(this).val();
				}
			})
			str = str ? str.substr(1) : '';
			$('#excelTable').val(str);
			$('#excelpost').submit();
			return false;
		})
    });

    //批量下架
    function setMoreDown()
    {
        var chkId = getChecked();
        if ( chkId == '' ) {
            layer.msg('请选择至少一个商品', {
                time: 2000 //2秒关闭（如果不配置，默认是3秒）
            });
            return false;
        }
        layer.prompt({
            formType: 2,
            value: '',
            maxlength: 100,
            title: '请输入下架原因'
        }, function(value, index, elem){
            if ( $.trim(value) == ''){
                layer.tips('请输入下架原因',elem);
                return false;
            }else{
                $.ajax({
                    type : 'post',
                    url  : '/internal/doDown/',
                    data : {'id':chkId, 'reason':value},
                    dataType : 'json',
                    success : function (data){
                        if (data.code==1){
                            layer.msg('操作成功！', {
                                time: 1000 //2秒关闭（如果不配置，默认是3秒）
                            }, function(){
                                window.location.reload();
                            });
                        }else{
                            layer.msg('操作失败！', {
                                time: 1000 //2秒关闭（如果不配置，默认是3秒）
                            });
                        }
                    },
                    error : function (data){
                        layer.msg('操作失败，请稍后重试。', {
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        });
                    }
                });
            }
        });
    }

    function delMoreSale()
    {
        var chkId = getChecked();
        if ( chkId == '' ) {
            layer.msg('请选择至少一个商品', {
                time: 2000 //2秒关闭（如果不配置，默认是3秒）
            });
            return false;
        }
        var url = '?id='+chkId;
        layer.open({
            type: 2,
            title: false,
            closeBtn: false,
            area: ['520px', '400px'],

            content: '/internal/delete/'+url,
        });
        return false;
    }

    function getChecked()
    {
        var strId = '';
        $('.chklist').each(function(){
            if($(this).prop('checked')){
                strId += ","+$(this).val();
            }
        });
        strId = strId ? strId.substr(1) : '';
        return strId;
    }

    function add()
    {
        window.location.href="/module/add/";
    }
	
	//批量导入商标
	function Import()
    {
        layer.open({
            type: 2,
            title: false,
            closeBtn: false,
            area: ['650px', '420px'],
            content: '/internal/import/'
        });
    }

    function reloadList()
    {
        window.location.reload();
    }
	
	//弹出群组数据
	$('#groupes').click(function(){
		var classes = $('#tmClass').val();
		//var oldclasses = $('#oldclasses').val();
		//if(oldclasses != classes){
		//	$(this).val('');
		//}
		if(classes){
			//iframe层-父子操作
			layer.open({
				title: '选择群组',
				type: 2,
				area: ['570px', '420px'],
				fix: false, //不固定
				maxmin: true,
				content: '/internal/groups/?class='+classes
			});
		}
		return false;
	})
	
	//导出弹出
	function download()
    {
		 layer.open({
            type: 1,
            title: false,
            closeBtn: false,
            area: ['630px', '360px'],
            content: $('#download')
        });
    }
</script>

<? require(ViewDir.'/footer.html'); ?>