<? require(ViewDir.'/header.html');?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/import.css" />
<style>
.img-flip {
        position:absolute;
        width:16px;
        height:16px;
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
</style>
<div class="im-wrap" id="loadForm">
	<div class="im-title borderBtmCd">
		<em><span class="im-title-span aaaa"><img src="<?=StaticDir?>1.2/images/u30.gif" alt="">关闭</span></em>
		<h1>子分类管理 </h1>
	</div>
	<br>
	<form id="moduleclass" >
	<input type="hidden" name="moduleId" class="h_modulId" value="<?=$moduleId?>">
    <input type="hidden" name="id" id="id" class="h_id" value="<?=$id?>">
	<ul class="confit-list borderBtmCd">
		<li>
			<label>
				<span>分类名称</span>
				<input type="text" name="name" id="classname" maxlength="8" value="<?=$classes['name']?>"  class="inputbig" />
			</label>
		</li>
	</ul>
	<table class="importable" id="classItems">
		<tr>
			<td width="40%" >对应商品</td>
			<td width="20%">商标号</td>
			<td width="40%">操作</td>
		</tr>
		<?foreach ($classesItem['rows'] as $ky => $vl) { ?>
		<tr id="ClassItem-<?=$vl['id']?>" class="ClassItem">
			<td class="ClassItemName" ><?=$vl['name']?></td>
			<td class="ClassItemNumber" ><?=$vl['number']?></td>
			<td>
				<input type='hidden' value='<?=$vl['number']?>===<?=$vl['name']?>' name='numbers[]' id="item-<?=$vl['id']?>" >
				<a href="javascript:void(0);" onclick="delClassItem(<?=$vl['id']?>)">删除</a>
				<a href="javascript:void(0);" onclick="editClassItem(<?=$vl['number']?>,<?=$vl['id']?>);">编辑</a>	&nbsp;&nbsp;|&nbsp;&nbsp;
				<span onclick="sortChaneg(<?=$vl['id']?>, 5 , 1,['classId',<?=$id?>])"><img class="img" src="<?=StaticDir?>1.2/images/u85.gif"></span>&nbsp;&nbsp;
				<span class="img-flip" onclick="sortChaneg(<?=$vl['id']?>, 5, 2,['classId',<?=$id?>])"><img class="img" src="<?=StaticDir?>1.2/images/u85.gif"></span>
			</td>
		</tr>
		<?}?>
	</table>
	<table class="importable">
		<tr id="newclassitem" style="display:none;">
			<input type="hidden" id="sbclassitem" />
			<td><input type="text" id="sbnumber" maxlength="20"  class="inputbig" placeholder="请输入商标号" isedit=""/></td>
			<td><em id="tradetip"></em></td>
			<td><a href="javascript:void(0)" class="nextanext" id="addsb">确定</a><a href="javascript:void(0)" class="cancelanext" id="cancelaclassitem">取消</a></td>
		</tr>
	</table>
	<br>
	<span class="addSpan"><a href="javascript:void(0)" class="nexta" id="addclassitem">+ 新增商品</a><br></span>
	<div class="thistip" ><em  class="cFF6701" >每条分类最多可添加8条展示商品</em></div>
	<br>
	<a href="javascript:void(0)" class="nexta aaaa" id="adddata">确定删除</a><a href="javascript:void(0)" class="cancela cancel_create  aaaa">取消</a>
	</form>
</div>
<script type="text/javascript" src="<?=StaticDir?>1.2/js/module.js"></script>
<script type="text/javascript">
    $(function(){
		<? if(!$id): ?>
		$('#classname').focus();
		<? endif; ?>
		checkItemslen();
		//添加商品界面显示
		$('#addclassitem').click(function(){
			if(!$('#newclassitem').is(':visible')){
				$('#newclassitem').show();
			}else{
				$('#newclassitem').hide();
			}
                        $('#sbclassitem').val("");
                        $('#sbnumber').val("");
                        $("#newclassitem").insertAfter($("#classItems").last());//移动到最后面
		})
		//取消添加
		$('#cancelaclassitem').click(function(){
			$('#newclassitem').hide();
			$('#sbclassitem').val('');
			$('#sbnumber').val('');
			$('#sbnumber').attr('isedit','');
		})
		//添加商标
		$('#addsb').click(function(){
			var number = $('#sbnumber').val();
			number = number.replace(/(^\s*)|(\s*$)/g, "");//去空
			//判断是否是编辑商标
			var isEdit = $('#sbnumber').attr('isedit');
			$('#sbnumber').attr('isedit','');

			if(!number || number == '请输入商标号'){
				$('#tradetip').html('请输入商标号');
				$('#tradetip').show();
				return false;
			}
			$('#tradetip').hide();

			var ClassItemNum = $('.ClassItem').length;
			//添加且大于8才提示
			if(ClassItemNum >= 8 && isEdit!='true'){
				layer.msg('最多只能添加8条商品', {
					time: 2000 //2秒关闭（如果不配置，默认是3秒）
				});
				return false;
			}
			var itemId = $('#sbclassitem').val();
			if(itemId){
				var my_data = {number:number,classId:$('#id').val(),opt:'edit','id':itemId};
			}else{
				var my_data = {number:number,classId:$('#id').val()};
			}
			$.ajax({
				type : 'post',
				url  : '/module/addClassItem/',
				data : my_data,
				dataType : 'json',
				success : function (data){
					if(data.code==0){
						//添加结果
						var str = '<tr id="ClassItem-'+data.id+'" class="ClassItem">';
						str += '<td class="ClassItemName" >'+data.name+'</td>';
						str += '<td class="ClassItemNumber" >'+data.number+'</td>';
						str += '<td><input type="hidden" value="'+data.number+'==='+data.name+'" name="numbers[]" id="item-'+data.id+'" ><a href="javascript:void(0);" onclick="delClassItem('+data.id+')">删除</a>&nbsp;<a href="javascript:void(0);" onclick="editClassItem('+data.number+','+data.id+');">编辑</a>	&nbsp;&nbsp;|&nbsp;&nbsp;';
						str += '<span onclick="sortChaneg('+data.id+', 5 , 1,[\'classId\',<?=$id?>])"><img class="img" src="<?=StaticDir?>1.2/images/u85.gif"></span>&nbsp;&nbsp;<span class="img-flip" onclick="sortChaneg('+data.id+', 5, 2,[\'classId\',<?=$id?>])"><img class="img" src="<?=StaticDir?>1.2/images/u85.gif"></span></td></tr>';
						//追加节点
						$('#classItems').append(str);
						$('#sbnumber').val('');
						$('#sbclassitem').val('');
						//检测此时的商标数
						var ClassItemNum = $('.ClassItem').length;
						if(ClassItemNum >= 8){
							$('#newclassitem').hide();
							$('.addSpan').hide();
							return false;
						}
					}else if(data.code==10) {
						//编辑结果
						var hiddenEle = '#item-'+data.id;
						hiddenEle = $(hiddenEle);
						hiddenEle.val(data.number+'==='+data.name);
						hiddenEle.closest('tr').find('.ClassItemName').text(data.name);
						hiddenEle.closest('tr').find('.ClassItemNumber').text(data.number);
						$('#sbnumber').val('');
						$('#sbclassitem').val('');
						layer.msg('修改成功', {
							time: 1500
						});
						$('#newclassitem').hide();
					}else{
						//解析错误,并弹窗提醒
						var msg = '';
						switch(data.code){
							case 1:
								msg='非法参数';break;
							case 2:
								msg='该商标未出售';break;
							case 3:
								msg='添加数据出错';break;
							case 5:
								msg='商标审核中或已下架,请修改状态';break;
						}
						layer.msg(msg, {
							time: 2000
						});
					}
				},
				error : function (data){
					layer.msg('操作失败，请稍后重试。', {
						time: 2000 //2秒关闭（如果不配置，默认是3秒）
					});
				}
			});
		})
		//添加分类数据
		$('#adddata').click(function(){
			var classname = $('#classname').val();
			if(!classname){
				layer.msg('请填写分类名称', {
					time: 2000 //2秒关闭（如果不配置，默认是3秒）
				});
				$('#classname').focus();
				return false;
			}
			var data = $("#moduleclass").serialize();
			$.ajax({
				type : 'post',
				url  : '/module/setClass/',
				data : data,
				dataType : 'json',
				success : function (data){
					if (data.code==1){
						layer.msg('操作成功！', {
							time: 1000 //2秒关闭（如果不配置，默认是3秒）
						}, function(){
							parent.window.location.reload();
						});
					}else{
						layer.msg(data.msg, {
							time: 1000 //2秒关闭（如果不配置，默认是3秒）
						});
					}
				},
				error : function (data){
					layer.msg('操作失败，请稍后重试。', {
						time: 2000 //2秒关闭（如果不配置，默认是3秒）
					});
				}
			});
		})
        //取消/添加 失去焦点事件
		$(".aaaa").mouseover(function(){
			$('#classname').unbind('blur');
		});
		$(".aaaa").mouseout(function(){
			$('#classname').bind('blur',classNameFn);
		});
		$(".im-title-span,.cancela,.closed").on("click",function(){
			 //parent.layer.closeAll();
			 parent.window.location.reload();
		});
		//分类框失去焦点时ajax请求, 添加分类
		$('#classname').blur(classNameFn);
	});
	//检测商标数
	function checkItemslen(){
		var ClassItemNum = $('.ClassItem').length;
		if(ClassItemNum >= 8){
			$('.addSpan').hide();
			return false;
		}
	}
    //添加分类函数
	function classNameFn(){
        var id = $('#id').val();
        if(id==0){
            var name = $(this).val();
            if(name==''){
                layer.msg('请输入分类名', {
                    time: 1500 //2秒关闭（如果不配置，默认是3秒）
                });
				$('#classname').focus();
                return;
            }
            $.ajax({
                type : 'post',
                url  : '/module/addClass/',
                data : {name:name,moduleId:$('.h_modulId').val()},
                dataType : 'json',
                success : function (data){
                    if(data.code==0){
                        $('#id').val(data.classId);
                    }else if(data.code==1){
                        layer.msg('非法参数', {
                            time: 1500 //2秒关闭（如果不配置，默认是3秒）
                        });
                    }else if(data.code==2){
                        layer.msg('请输入分类名', {
                            time: 1500 //2秒关闭（如果不配置，默认是3秒）
                        });
                    }
                },
                error : function (data){
                    layer.msg('操作失败，请稍后重试。', {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            });
        }
	}
	//编辑显示框
	function editClassItem(number,itemId){
		$('#sbclassitem').val(itemId);
		$('#sbnumber').val(number);
		$('#sbnumber').attr('isedit','true');
		$('#newclassitem').show();
                //移动到当前tr后面
                $("#newclassitem").insertAfter($("#ClassItem-"+itemId).last());
	}

	//删除
	function delClassItem(itemId)
    {
		$('#ClassItem-'+itemId).remove();
		$('#item-'+itemId).remove();
    }

</script>

<? require(ViewDir.'/footer.html'); ?>

