<? require(ViewDir.'/header.html');?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/details.css">
<script charset="utf-8" src="<?=StaticDir?>/editor/kindeditor.js"></script>
<script charset="utf-8" src="<?=StaticDir?>/editor/lang/zh_CN.js"></script>
<script>
        KindEditor.ready(function(K) {
            window.editor = K.create('#intro', {
                afterBlur: function () { this.sync(); }
            });
        });
		
</script>
<div class="wrap">
<input type="hidden" name="saleId" id="saleId" value="<?=$sale['id']?>">
    <div class="wrap-top">
        <h4>首页模块设置 》 添加</h4><span></span>
    </div>
	<p class="text-left" style="margin-top:20px;padding:0 5px 0 5px;background-color:#FFFF99;border:1px solid #dadada;">您可以在此管理首页推荐的商品模块，并为每个模块添加分类和商品。建议每个模块至少有两个分类。</p>
	<div class="mj-ztBar f-clearfix">
        <span class="mj-ztBr">
            <a class="btn btn-info" href="<?=$referr?>">返回</a>
        </span>
		<div>
			<ul>
				<li>
					<label>模块标题：</label>
					<input type="text" name="name" id="modeluname"  placeholder="请输入价格" maxlength="20" />
					<a ></a>
				</li>
			</ul>
		<div>
		<hr>
		<div class="mj-sellT">
			<p>模块分类管理</p>
			<table>
				<tbody>
				<tr>
					<td>序号</td>
					<td>模块分类名称</td>
					<td>包含商品</td>
					<td>操作</td>
				</tr>
				<?foreach ($sale['contact'] as $ky => $vl) { ?>
				<tr>
					<td><?=$vl['id']?></td>
					<td><?=$vl['name']?></td>
					<td><?=$vl['saleNum']?></td>
					<td>
					<?if ( $vl['isVerify'] == 1) {?>
						<a href="javascript:void(0);" onclick="delContact(<?=$sale['id']?>, <?=$vl['id']?>, <?=count($sale['contact'])?>);">删除</a>
						<a href="javascript:void(0);" onclick="setContact(<?=$sale['id']?>, <?=$vl['id']?>);">编辑</a>
						<!-- <a href="">生成报价</a> -->
					<?}else{?>
						<a href="javascript:void(0);" onclick="setVerify(<?=$sale['id']?>, <?=$vl['id']?>);">通过</a>
						<a href="javascript:void(0);" onclick="delVerify(<?=$sale['id']?>, <?=$vl['id']?>, <?=count($sale['contact'])?>);">驳回</a>
					<?}?>
					</td>
				</tr>
				<?}?>
				</tbody>
			</table>
		</div>
		<div class="mj-deiBlist">
			<div class="mj-deiBtns">
				<a href="javascript:void(0);" id="mj-deib">新增分类</a>
			</div>
		</div>
    
		<hr>
		<div class="mj-sellT">
			<p>广告图管理</p>
			<table>
				<tbody>
				<tr>
					<td>序号</td>
					<td>广告图名称</td>
					<td>链接</td>
					<td>操作</td>
				</tr>
				<?foreach ($sale['contact'] as $ky => $vl) { ?>
				<tr>
					<td><?=$vl['id']?></td>
					<td><?=$vl['name']?></td>
					<td><?=$vl['saleNum']?></td>
					<td>
					<?if ( $vl['isVerify'] == 1) {?>
						<a href="javascript:void(0);" onclick="delContact(<?=$sale['id']?>, <?=$vl['id']?>, <?=count($sale['contact'])?>);">删除</a>
						<a href="javascript:void(0);" onclick="setContact(<?=$sale['id']?>, <?=$vl['id']?>);">编辑</a>
						<!-- <a href="">生成报价</a> -->
					<?}else{?>
						<a href="javascript:void(0);" onclick="setVerify(<?=$sale['id']?>, <?=$vl['id']?>);">通过</a>
						<a href="javascript:void(0);" onclick="delVerify(<?=$sale['id']?>, <?=$vl['id']?>, <?=count($sale['contact'])?>);">驳回</a>
					<?}?>
					</td>
				</tr>
				<?}?>
				</tbody>
			</table>
		</div>
		<div class="mj-deiBlist">
			<div class="mj-deiBtns">
				<a href="javascript:void(0);" id="mj-deib">新增广告图</a>
			</div>
		</div>
    
		<hr>
		<div class="mj-sellT">
			<p>推广链接管理</p>
			<table>
				<tbody>
				<tr>
					<td>序号</td>
					<td>推广链接名称</td>
					<td>链接</td>
					<td>是否着重显示</td>
					<td>操作</td>
				</tr>
				<?foreach ($sale['contact'] as $ky => $vl) { ?>
				<tr>
					<td><?=$vl['id']?></td>
					<td><?=$vl['name']?></td>
					<td><?=$vl['saleNum']?></td>
					<td><?=$vl['saleNum']?></td>
					<td>
					<?if ( $vl['isVerify'] == 1) {?>
						<a href="javascript:void(0);" onclick="delContact(<?=$sale['id']?>, <?=$vl['id']?>, <?=count($sale['contact'])?>);">删除</a>
						<a href="javascript:void(0);" onclick="setContact(<?=$sale['id']?>, <?=$vl['id']?>);">编辑</a>
						<!-- <a href="">生成报价</a> -->
					<?}else{?>
						<a href="javascript:void(0);" onclick="setVerify(<?=$sale['id']?>, <?=$vl['id']?>);">通过</a>
						<a href="javascript:void(0);" onclick="delVerify(<?=$sale['id']?>, <?=$vl['id']?>, <?=count($sale['contact'])?>);">驳回</a>
					<?}?>
					</td>
				</tr>
				<?}?>
				</tbody>
			</table>
		</div>
		<div class="mj-deiBlist">
			<div class="mj-deiBtns">
				<a href="javascript:void(0);" id="mj-deib">新增推广链接</a>
			</div>
		</div>
		
		<table class="mj-tables">
			<tbody>
			<tr>
				<td>操作记录</td>
			</tr>
			<?foreach ($log as $v) { ?>
			<tr>
				<td><?if($v['roleId']==0){echo "用户";}else{echo $v['roleName'];}?>&nbsp;&nbsp;&nbsp;&nbsp;
				<?=$v['name']?>&nbsp;&nbsp; 于&nbsp;&nbsp; <?=date("Y-m-d H:i:s",$v['date'])?> 
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?=$v['typeName']?>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注(原因)：<?=empty($v['memo'])?'无':$v['memo']?></td>
			</tr>
			<?}?>
			</tbody>
		</table>
	</div>

<script type="text/javascript" src="<?=StaticDir?>1.2/js/internal/updown.js"></script>
<script type="text/javascript" src="<?=StaticDir?>1.2/js/internal/saleEdit.js"></script>

<script type="text/javascript">
    $(function(){
        $("#mj-deib").click(function(){
            var id = $("#saleId").val();
            setContact(id, 0);
        });
        $("#priceType").change(function(){
            var vl = $(this).children('option:selected').val();
            if ( vl == 1 ){
                $(".mj-seCl").show();
            }else{
                $(".mj-seCl").hide();
            }
        });

        //多选处理
        $('input[type="checkbox"]').click(function(){
            var strClass = '';
            var id = $(this).attr('tname');
            $('.ck_'+id).each(function(){
                if($(this).prop('checked')){
                    strClass += ","+$(this).val();
                }
            })
            strClass = strClass ? strClass.substr(1) : '';
            $('#'+id).val(strClass);
        });

        $(".bzform").wrap("<form id='bzformupload' action='/internal/ajaxUploadPic/' method='post' enctype='multipart/form-data'></form>");
        $("#bzfile").on('change', function(){
            $("#bzformupload").ajaxSubmit({
                dataType:  'json',
                success: function(data) {
                    if (data.code == 1){
                        $('.bzpic').val(data.img);
                        $('.bzpic').attr('src', data.img);
                        //$('#imageurl').css('visibility', 'visible');
                    }else{
                        alert(data.msg);
                    }
                },
                error:function(xhr){
                    alert('图片格式不正确或图片过大，请重新上传！');
                }
            });
        });

        $(".tjform").wrap("<form id='tjformupload' action='/internal/ajaxUploadPic/' method='post' enctype='multipart/form-data'></form>");
        $("#tjfile").on('change', function(){
            $("#tjformupload").ajaxSubmit({
                dataType:  'json',
                success: function(data) {
                    if (data.code == 1){
                        $('.tjpic').val(data.img);
                        $('.tjpic').attr('src', data.img);
                        //$('#imageurl').css('visibility', 'visible');
                    }else{
                        alert(data.msg);
                    }
                },
                error:function(xhr){
                    alert('图片格式不正确或图片过大，请重新上传！');
                }
            });
        });
    });
    
</script>

<? require(ViewDir.'/footer.html'); ?>

