<? require(ViewDir.'/header.html');?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/details.css">
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/import.css" />

<style>
.img-flip {
        position:absolute;
        width:16px;
        height:16px;
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
</style>
<div class="wrap">
	
    <div class="wrap-top">
        <h4>专题设置 >>创建专题</h4><span></span>
    </div>
	<div class="mj-ztBar f-clearfix">
        <span class="mj-ztBr">
            <a class="btn btn-info" href="/topic/index/">返回</a>
        </span>
		<form id="topics" >
		<input type="hidden" name="id" id="topicId" value="<?=$topic['id']?>">
		<input type="hidden" name="pic" id="pic" value="<?=$topic['pic']?>">
		<input type="hidden" name="banner" id="banner" value="<?=$topic['banner']?>">
		<input type="hidden" name="bgImg" id="bgImg" value="<?=$topic['bgImg']?>">
        <input type="hidden" name="listClass" id="allClass" value="<?=$topic['listClass']?>" />
        <input type="hidden" name="listPic" class="bzpic" value="<?=$info['listPic']?>" />
		<div>
			<ul>
				<li>
				<p style="margin:20px 0;padding:0 5px 0 5px;background-color:#FFFF99;border:1px solid #dadada;width:700px;">您可以在此管理首页推荐的商品模块，并为每个模块添加分类和商品。建议每个模块至少有两个分类。</p>
				</li>
				<li>
					<label>专题标题：</label>
					<input type="text" name="title" id="title" value="<?=$topic['title']?>"/>
				</li>
				<li>
					<label>专题图片：</label>
					<img src="<?if($topic['pic']){echo $topic['pic'];}else{echo StaticDir."1.2/images/ztpic.png";}?>" id="showpic" width="355px" height="100px" />
					<p>
						<div class="ztpicdiv">
							<input type="file" id="ztpic" name="fileName" style="display: inline-block;"/>
						</div>
						<em  class="cFF6701" id="tipshow">注：图片建议尺寸为560X155，文件最大不超过200KB，当前支持PG,PNG,BMP,GIF格式文件</em>
					</p>
					<span ><label>ALT描述: </label><input type="text" name="alt1" value="<?=$topic['alt1']?>"></span><br/>
				</li>
                                <li><br><hr><br></li>
                <li>
                    <label>是否上架：</label>
                                        <input type="radio"  name="isUse" value="1" <?if($topic['isUse']==1) echo "checked='checked'";?> />上架
                                        <input type="radio"  name="isUse" value="2" <?if($topic['isUse']==2) echo "checked='checked'";?> />下架
                </li>
                                <li><br><hr><br></li>
                <li>
                    <label>是否置顶详情页面排序：</label>
                    <input type="radio"  name="isMore" value="1" <?if($topic['isMore']==1) echo "checked='checked'";?> />是
                                        <input type="radio"  name="isMore" value="2" <?if($topic['isMore']==2) echo "checked='checked'";?> />否
                </li>
                <li><br><hr><br></li>
                <li>
                    <? require(ViewDir.'/seo/seo.set.html');?>
                </li>
                <li><br><hr><br></li>
                                
                <li>
                    <label>专题类型选择：</label>
                    <select name="type" id="changeType">
                        <option value="1" <?if($topic['type']==1){echo "selected";}?> >普通专题</option>
                        <option value="2" <?if($topic['type']==2){echo "selected";}?> >静态链接专题</option>
                    </select>
                    <p style="margin:20px 0;padding:0 5px 0 5px;background-color:#FFFF99;border:1px solid #dadada;width:400px;">注意！！！选择专题类型，会出现不同的显示效果。</p>
                </li>
				<li><br><hr><br></li>
                <li>
                    <label>列表页显示图片：</label>
                    <div class="bzform">
                        <img id="bzpic" class="info-pic" onerror="this.src='/Static/1.2/images/u143.png'" onclick="bzfile.click();" title="点击修改" src="<?=$topic['listPic']?$topic['listPic']:'error'?>" >
                        <input type="hidden" name="size" value="200" style="display: none;"/>
                        <input type="file" id="bzfile" name="fileName" style="display: none;"/>
                    </div> 
                    <div class="alert alert-warning" style="padding:2px;margin-bottom:10px;margin-top:10px;" role="alert">
                    列表广告图片建议尺寸为 ( xxx ) x ( xxx )，文件最大不超过200kb，当前支持jpg,bmp,png格式文件
                    </div>
                </li>
                <li>
                    <label>列表页显示分类：</label>
                    <div class="list-class">
                        <? $allClass = array_filter(explode(',', $topic['listPic']));
                        foreach (range(1,45) as $k => $v) { ?>
                            <span style="display:inline-block;">
                            <input type="checkbox" class="allClass" <?if(in_array($v, $allClass)){echo 'checked';}?> tname="allClass" value="<?=$v?>">&nbsp;<?=$v?>类
                            </span>&nbsp;&nbsp;
                            <?if($v % 9 == 0){echo "<br>";}?>
                        <? } ?>
                    </div>
                    <br><hr><br>
                </li>

            <div class="staticTopic">

                <li>
                    <label>专题静态链接地址：</label>
                    <input type="input" class="form-control" name="link" value="<?=$topic['link']?>">
                </li>
                <li><br><hr><br></li>
            </div>
            <div class="normalTopic">
				<li>
					<label>banner图：</label>
					<img src="<?if($topic['banner']){echo $topic['banner'];}else{echo StaticDir."1.2/images/ztbanner.png";}?>" id="showbanner" width="930px" height="130px" />
					<p>
						<div class="ztbannerdiv">
							<input type="file" id="ztbanner" name="fileName" style="display: inline-block;"/>
						</div>
						<em  class="cFF6701" id="tipshow">注： 广告图片建议尺寸为 ( 1920 ) x ( 864 )，文件最大不超过200kb，当前支持jpg,bmp,png格式文件</em>
					</p>
					<span ><label>ALT描述: </label><input type="text" name="alt2" value="<?=$topic['alt2']?>"></span><br/>
				</li>
				<li><br><hr><br></li>
				<li>
					<label>背景设置：</label>
					<input type="text" name="bgColor" id="bgColor" value="<?=$topic['bgColor']?>" maxlength="8" /><a href="javascript:void(0);"  class="btn btn-default" id="cp5" >选色</a>
					<p style="margin:20px 0;padding:0 5px 0 5px;">请输入色码或选择颜色</p>
				</li>
				<li><br><hr><br></li>
				<li>
					<label>背景图片：</label>
					<img src="<?if($topic['bgImg']){echo $topic['bgImg'];}else{echo StaticDir."1.2/images/ztbg.png";}?>" id="showbg" width="200px" height="130px"  />
					<p>
						<div class="ztbgdiv">
							<input type="file" id="ztbg" name="fileName" style="display: inline-block;"/>
						</div>
						<em  class="cFF6701" id="tipshow">注： 背景图片最大不超过200kb，当前支持jpg,bmp,png格式文件</em>
						
					</p>
					<span ><label>ALT描述: </label><input type="text" name="alt3" value="<?=$topic['alt3']?>"></span><br/>
					<select name="bgImgShow" >
							<option value="1" <?if($topic['bgImgShow'] == 1)echo "selected"; ?>>展示一次</option>
							<option value="2" <?if($topic['bgImgShow'] == 2)echo "selected"; ?>>平铺</option>
						</select>
				</li>
        </div>
			</ul>
		</form>
        </div>
		<hr>   
		<div class="mj-deiBlist">
			<div class="mj-deiBtns">
				<a href="javascript:void(0);" id="addtopic">确定</a>
			</div>
		</div>		
		<hr>
    <div class="normalTopic">
		<div class="mj-sellT">
			<p>对应商品</p>
			<table>
				<tbody id="classItems">
				<tr>
					<td>商品名称</td>
					<td>商标号</td>
					<td>操作</td>
				</tr>
				<?foreach ($topicItems['rows'] as $ky => $vl) { ?>
				<tr id="ClassItem-<?=$ky?>" class="ClassItem">
					<td class="ClassItemName" ><?=$vl['name']?></td>
					<td class="ClassItemNumber" ><?=$vl['number']?></td>
					<td>
						<a href="javascript:void(0);" onclick="delItems(<?=$vl['id']?>)">删除</a>
						<a href="javascript:void(0);" onclick="setitems(<?=$vl['id']?>);">编辑</a>	&nbsp;&nbsp;|&nbsp;&nbsp;
						<span onclick="sortChaneg(<?=$vl['id']?>, 2 , 1,['topicId',<?=$topic['id']?>])"><img class="img" src="<?=StaticDir?>1.2/images/u85.gif"></span>&nbsp;&nbsp;
						<span class="img-flip" onclick="sortChaneg(<?=$vl['id']?>, 2, 2,['topicId',<?=$topic['id']?>])"><img class="img" src="<?=StaticDir?>1.2/images/u85.gif"></span>
					</td>
				</tr>
				<?}?>
				</tbody>
			</table>
			<br>
			<a href="javascript:void(0)" class="nexta" id="additems">+ 新增商品</a>
			<br>
		</div>
	</div>

    </div>

<script type="text/javascript">
    $(function(){
        //多选处理
        $('.list-class input[type="checkbox"]').click(function(){
            var strClass = '';
            var id = $(this).attr('tname');
            $('.'+id).each(function(){
                if($(this).prop('checked')){
                    strClass += ","+$(this).val();
                }
            })
            strClass = strClass ? strClass.substr(1) : '';
            $('#'+id).val(strClass);
        });

        $(".bzform").wrap("<form id='bzformupload' action='/basic/ajaxUploadPic/' method='post' enctype='multipart/form-data'></form>");
        $("#bzfile").on('change', function(){
            $("#bzformupload").ajaxSubmit({
                dataType:  'json',
                success: function(data) {
                    if (data.code == 1){
                        $('.bzpic').val(data.img);
                        $('#bzpic').attr('src', data.img);
                        //$('#imageurl').css('visibility', 'visible');
                    }else{
                        alert(data.msg);
                    }
                },
                error:function(xhr){
                    alert('图片格式不正确或图片过大，请重新上传！');
                }
            });
        });

		//添加商品界面显示
		$('#additems').click(function(){
			setitems(0);
		})

        $("#changeType").change(function(){
            var _this   = $(this);
            var _model  = this.options[this.options.selectedIndex].value;
            if ( _model == 1 ){//普通专题
                $(".normalTopic").show();
                $(".staticTopic").hide();
            }else{//静态链接专题
                $(".staticTopic").show();
                $(".normalTopic").hide();
            }
        });
		$("#changeType").change();

		//确认编辑
		$('#addtopic').click(function(){
			var title = $('#title').val();
			if(!title){
				layer.msg('请填写专题标题', {
					time: 2000 //2秒关闭（如果不配置，默认是3秒）
				});
				return false;
			}
			var data = $("#topics").serialize();
			$.ajax({
				type : 'post',
				url  : '/topic/setTopic/',
				data : data,
				dataType : 'json',
				success : function (data){
					if (data.code==1){
						layer.msg('操作成功！', {
							time: 1000 //2秒关闭（如果不配置，默认是3秒）
						}, function(){
							window.location.reload();
						});
					}else{
						layer.msg(data.msg, {
							time: 1000 //2秒关闭（如果不配置，默认是3秒）
						});
					}
				},
				error : function (data){
					layer.msg('操作失败，请稍后重试。', {
						time: 2000 //2秒关闭（如果不配置，默认是3秒）
					});
				}
			});
		})
		
		//上传图片
		$(".ztpicdiv").wrap("<form id='tjformuploadpic' action='/topic/ajaxUploadPic/' method='post' enctype='multipart/form-data'></form>");
        $("#ztpic").change(function(){
            upImg($("#tjformuploadpic"),$('#showpic'),$('#pic'));
        });
		
		//上传图片
		$(".ztbannerdiv").wrap("<form id='tjformuploadbanner' action='/topic/ajaxUploadPic/' method='post' enctype='multipart/form-data'></form>");
        $("#ztbanner").change(function(){
            upImg($("#tjformuploadbanner"),$('#showbanner'),$('#banner'));
        });
		
		//上传图片
		$(".ztbgdiv").wrap("<form id='tjformuploadbg' action='/topic/ajaxUploadPic/' method='post' enctype='multipart/form-data'></form>");
        $("#ztbg").change(function(){
            upImg($("#tjformuploadbg"),$('#showbg'),$('#bgImg'));
        });
	})
	
	function setitems(id)
	{
		var topicId = $('#topicId').val();
		if ( topicId <= 0) return false;
		var url = '?topicId='+topicId+'&id='+id;
		layer.open({
			type: 2,
			scrollbar: false,
			title: '对应商品',
			area: ['400px', '200px'],
			content: '/topic/items/'+url,
		});
	}

	//上传图片
	function upImg(form,srcobj,picval){
		form.ajaxSubmit({
			dataType:  'json',
			success: function(data) {
				if (data.code == 1){
					picval.val(data.img);
					srcobj.attr('src', data.img);
				}else{
					alert(data.msg);
				}
			},
			error:function(xhr){
				alert('图片格式不正确或图片过大，请重新上传！');
			}
		});
	}
</script>

<script type="text/javascript" src="<?=StaticDir?>1.2/js/jquery.colorpicker.js"></script> 
<script type="text/javascript">
    $(function(){
		$("#cp5").colorpicker({
            fillcolor:true,
            event:'mouseover',
            target:$("#bgColor")
        });
    })

//删除分类
function delItems(id)
{	var topicId = $('#topicId').val();
	if ( id <= 0 || id == '' ) return false;
	layer.confirm('确认要删除此分类吗？<br>', {
		btn: ['删了','算了'] //按钮
	}, function(){
		$.ajax({
			type : 'post',
			url  : '/topic/delItems/',
			data : {'id':id,'topicId':topicId},
			dataType : 'json',
			success : function (data){
				if (data.code==1){
					layer.msg('操作成功', {
						time: 1000 //2秒关闭（如果不配置，默认是3秒）
					}, function(){
						window.location.reload();
					});
				}else{
					var msg = data.msg == undefined ? '操作失败，请确认数据是否正确。' : data.msg;
					layer.msg(msg, {
						time: 2000 //2秒关闭（如果不配置，默认是3秒）
					});
				}
			},
			error : function (data){
				layer.msg('操作失败，请检查您输入的内容是否正确后重新尝试', {
					time: 2000 //2秒关闭（如果不配置，默认是3秒）
				});
			}
		});
	});
}


function sortChaneg(id, type, updown,where)
{
    if ( id == '' || updown == '' || type == '') return false;
	var data = {id:id,updown:updown,type:type};
	if(where){
		data[where[0]] = where[1];
	}
    $.ajax({
        type : 'post',
        url  : '/topic/sortChaneg/',
        data : data,
        dataType : 'json',
        success : function (data){
            if (data.code==1){
                layer.msg('操作成功', {
                    time: 1000 //2秒关闭（如果不配置，默认是3秒）
                }, function(){
                    window.location.reload();
                });
            }else{
                layer.msg(data.msg, {
                    time: 1000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        },
        error : function (data){
            layer.msg('操作失败，请稍后重试。', {
                time: 2000 //2秒关闭（如果不配置，默认是3秒）
            });
        }
    });
}
</script>
<? require(ViewDir.'/footer.html'); ?>

