<? require(ViewDir.'/header.html');?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/main.css">
<style>
    td{border: 1px solid #dadada;}
</style>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li>首页</li>
        <li>数据分析</li>
        <li>模块使用频率</li>
    </ul>
</div>
<div class="wrap">
    <div class="mj-screening">
        <div class="mj-seT f-clearfix">
            <span>模块使用频率统计</span>
        </div>
        <form name="visitlogForm" id="visitlogForm" action="/visitlog/frequency/" method="GET">
        <dl>
            <dd>
               <label> 我要统计从：</label><input type="text" name="dateStart" value="<?=$s['dateStart']?>" class="input input-sm" readonly onclick="laydate()" /> 
                <label>&nbsp;&nbsp;至&nbsp;&nbsp;</label> <input type="text" name="dateEnd" value="<?=$s['dateEnd']?>" class="input input-sm" readonly onclick="laydate()" />
                
                <a href="javascript:void(0);" class="mj-sBtn mj-sBtn-search" style="display:inline-block;margin-left:50px;">搜索</a>
            </dd>
        </dl>
        </form>
    </div>
    <div class="wrap-content">
		<br>
        <div class="wrap-table">
            <? foreach ($list as $k => $v) {  ?>
                <table class="table table-hover" style="border: 1px solid #dadada;margin-bottom: 0">
                    <thead>
                        <tr class="active">
                            <th colspan="6"><?=$v['title']?> |  &nbsp;&nbsp;<img src="/Static/images/u33.png">&nbsp;&nbsp;访问者：<?=$v['pageUser_count']?>  &nbsp;&nbsp;&nbsp;&nbsp;<img src="/Static/images/u35.png">&nbsp;&nbsp;点击次数：<?=$v['page_count']?></th>
                        </tr>
                    </thead>
                    <tbody class="table-list">
                    <tr>
                    <? foreach ($v['view'] as $key => $val) { ?>
                        <td width="50%">模块：<?=$val['title']?>&nbsp;&nbsp;<img src="/Static/images/u35.png">&nbsp;&nbsp;点击次数：<?=$val['count']?>&nbsp;&nbsp;<img src="/Static/images/u43.png">&nbsp;&nbsp;占比：<?=$val['zhanbi']?>%</td>
                        <? if($key%2==0){
                            echo "</tr><tr>";
                        }
                    } ?>
                    </tr>
                    </tbody>
                </table>
            <? } ?>
        </div>
    </div>
</div>
<script src="<?=StaticDir?>1.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function(){
        $(".mj-sBtn").click(function(){
			var index = layer.load(1, {
				shade: [0.5,'#fff'] //0.1透明度的白色背景
			});
            $("#visitlogForm").submit();
        });
    });
    </script>
<? require(ViewDir.'/footer.html'); ?>