<? require(ViewDir.'/header.html');?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/main.css">
<style>
.img-flip {
        position:absolute;
        width:16px;
        height:16px;
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
</style>
<div class="place">
    <span>访问者数据跟踪分析</span>
</div>
<div class="wrap">
    <div class="wrap-content">
		<br>
        <div class="wrap-table">
            <table class="table table-hover" style="border: 1px solid #dadada;margin-bottom: 0">
                <thead>
                    <tr class="active">
						<th>访问者类型</th>
                        <th>来源</th>
                        <th>设备</th>
                        <th>忠诚度</th>
                        <th>用户画像</th>
						<th>访问时间</th>
                        <th>时长</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="table-list">
                <? foreach ($list as $k => $v) {  ?>
                <tr>
					<td>访问者</td>
					<td><?=($v['issem']?'推广':'直接访问')?></td>
					<td><?=($v['device'])?'手机':'电脑'?></td>
					<td><?=($v['visits']>5)?'老用户':'新用户'?>(<?=$v['visits']?>)</td>
                    <td>无</td>
					<td><?=date('Y.m.d H:i', $v['lastdateline'])?></td>
					<td><?=$v['stay']?></td>
                    <td>
						<a href="/visitlog/viewuser/?sid=<?=$v['sid']?>" onclick="">查看详情</a>
                    </td>
                </tr>
                <? } ?>
                </tbody>
            </table>
        </div>   
		<br>
        <div id="page1" align="center" style="margin:10px 0 40px 0"></div>
    </div>
</div>
<script src="<?=StaticDir?>1.2/js/bootstrap.min.js"></script>
<script src="<?=StaticDir?>1.2/js/objurl.js"></script>
<script src="<?=StaticDir?>1.2/js/laypage/laypage.js"></script>
<script type="text/javascript">
    var total = "<?=$total?>";
    var page = "<?=$page?>";
    //分页
    laypage({
        cont: 'page1',
        pages: total,
        curr: page,
        jump: function(e, first){ //触发分页后的回调
            if(!first){
                var myurl = new objURL(location.href);
                //操作url
                myurl.set('page',e.curr);
                location.href=myurl.url();
            }
        },
        skip: true, //是否开启跳页
        skin: 'molv',
        prev: false,
        next: false,
    });
    if(total){
        $('.laypage_main').prepend('<span>'+page+' / '+total+' 页</span>>');
    }
</script>
<? require(ViewDir.'/footer.html'); ?>