<? require(ViewDir.'/header.html');?>

<link rel="stylesheet" href="<?=StaticDir?>1.2/css/blacklist.css">
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/main.css">
<style type="text/css">
    .info-show {
        position: absolute;
        z-index: 1000;
        display: none;
    }
    .info-pic {
        max-width: 200px;
        max-height: 100px;
    }
    .margin-sx-10 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .img-flip {
        position:absolute;
        width:16px;
        height:16px;
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
</style>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li>首页</li>
        <li>出售者平台</li>
        <li>编辑-出售数据分享</li>
    </ul>
    <!-- <span style="float:right;margin-right:20px;color:red;">在售商标总数：<?=$total ?></span> -->
</div>
<div class="wrap">
    <div class="wrap-top">
        <h4>出售数据分享标题</h4><span></span>
    </div>
    <div >
        <input type="hidden" id="aid" value="<?=$info['id']?>">
        标题：<input class="input input-sm" size="60" type="text" id="title" value="<?=$info['title']?>">
        发布时间：<input class="input input-sm" type="text" readonly id="pubDate" value="<?=date('Y-m-d', $info['date'])?>">
        <button class="btn btn-danger" id="sub-info" type="button">保存</button>
        <button class="btn btn-success" _href="/saleanalysis/check/?id=<?=$info['id']?>" id="check_bfb" type="button">检测百分比</button>
    </div>
    <div class="wrap-top">
        <h4>销售数据分析</h4>
    </div>
    <div class="alert alert-warning" style="padding:2px;margin-bottom:10px;" role="alert">
        创建价格区间数据，总百分比为100%
    </div>

    <div class="wrap-table" style="width: 50%;">
        <table class="table table-hover" style="min-width: 500px;border: 1px solid #dadada;margin-bottom: 0">
            <thead>
            <tr class="active">
                <th width="20%">序号</th>
                <th width="25%">区间价格</th>
                <th width="25%">占比</th>
                <th width="30%">操作</th>
            </tr>
            </thead>
            <tbody class="table-list">
            <? foreach ($items[1] as $k => $v) { ?>
            <tr>
                <td style="vertical-align:middle"><?=$k+1?></td>
                <td style="vertical-align:middle"><?=$v['data1']?></td>
                <td style="vertical-align:middle"><?=$v['data2']?>%</td>
                <td style="vertical-align:middle">
                        <span class="icon icon-delete">
                            <a href="javascript:;" onclick="cancel(<?=$v['id']?>)"  class="btn-warning">删除</a>
                        </span>
                        <span class="icon icon-editor">
                            <a href="javascript:void(0);" onclick="showEdit(<?=$v['id']?>, <?=$info['id']?>)" class="btn-info">编辑</a>
                        </span>
                </td>
            </tr>
            <? } ?>
            </tbody>
        </table>
    </div>

    <div class="margin-sx-10">
        <button class="btn btn-success" id="add-price" type="button">新增价格区间</button>
    </div>

    <div class="wrap-top">
        <h4>包装数据分析</h4>
    </div>
    <div class="wrap-table" style="width: 50%;">
        <table class="table table-hover" style="min-width: 500px;border: 1px solid #dadada;margin-bottom: 0">
            <thead>
            <tr class="active">
                <th width="33%">标题</th>
                <th width="33%">数据百分比</th>
                <th width="33%">总数</th>
            </tr>
            </thead>
            <tbody class="table-list">
            <form id="form-baoz">
            <tr>
                <td style="vertical-align:middle">包装后出售机率</td>
                <td style="vertical-align:middle"><input class="input input-sm baozFloat" id="baoz1" size="6" type="text" name="items[<?=$items[2][1]['id']?>]" value="<?=$items[2][1]['data2']?>"/>%</td>
                <td style="vertical-align:middle"><?=$baoz?></td>
            </tr>
            <tr>
                <td style="vertical-align:middle">未包装出售机率</td>
                <td style="vertical-align:middle"><input class="input input-sm baozFloat" id="baoz2" size="6" type="text" name="items[<?=$items[2][2]['id']?>]" value="<?=$items[2][2]['data2']?>"/>%</td>
                <td style="vertical-align:middle"><?=$nobaoz?></td>
            </tr>
            </form>
            <tr>
                <td style="vertical-align:middle">相差倍数</td>
                <td style="vertical-align:middle"><span id="baoz3"><?=round(abs($items[2][1]['data2']/$items[2][2]['data2']), 2)?></span>倍</td>
                <td style="vertical-align:middle">-</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="margin-sx-10">
        <button class="btn btn-info" id="sub-baoz" type="button">修改包装分析</button>
    </div>
    <div class="wrap-top">
        <h4>热门分类前十名</h4>
    </div>
    <div class="wrap-table" style="width: 50%;">
        <table class="table table-hover" style="min-width: 500px;border: 1px solid #dadada;margin-bottom: 0">
            <thead>
            <tr class="active">
                <th width="20%">序号</th>
                <th width="30%">分类名</th>
                <th width="20%">说明</th>
                <th width="15%">数量</th>
                <th width="15%">操作</th>
            </tr>
            </thead>
            <form id="form-class">
            <tbody class="table-list">
            <? foreach ($items[3] as $k => $v) { ?>
            <tr>
                <td style="vertical-align:middle"><?=$k+1?></td>
                <td style="vertical-align:middle"><input class="input input-sm rotClass" data-id="<?=$v['id']?>" size="6" type="text" name="items[<?=$v['id']?>]" value="<?=$v['data1']?>"/>类</td>
                <td style="vertical-align:middle"><label id="c-<?=$v['id']?>"><?=$CLASS[$v['data1']]?></label></td>
                <td style="vertical-align:middle"><input class="input input-sm" size="6" type="text" name="other[<?=$v['id']?>]" value="<?=$v['data2']?>"/></label></td>
                <td style="vertical-align:middle">
                    <!-- 向下  -->
                    <span onclick="orderItems(<?=$v['id']?>, 1, 3)">
                        <img title="向下" class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                    </span>
                    &nbsp;
                    <!-- 向上  -->
                    <span class="img-flip"  onclick="orderItems(<?=$v['id']?>, 2, 3)">
                        <img title="向上" class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                    </span>
                </td>
            </tr>
            <? } ?>
            </tbody>
            </form>
        </table>
    </div>

    <div class="margin-sx-10">
        <button class="btn btn-info" id="sub-class" type="button">修改热门分类</button>
    </div>
    <div class="wrap-top">
        <h4>最喜爱的搜索关键字</h4>
    </div>
    <div class="wrap-table" style="width: 50%;">
        <table class="table table-hover" style="min-width: 500px;border: 1px solid #dadada;margin-bottom: 0">
            <thead>
            <tr class="active">
                <th width="20%">序号</th>
                <th width="30%">关键字</th>
                <th width="20%">操作</th>
            </tr>
            </thead>
            <form id="form-keyword">
            <tbody class="table-list">
            <? foreach ($items[4] as $k => $v) { ?>
            <tr>
                <td style="vertical-align:middle"><?=$k+1?></td>
                <td style="vertical-align:middle"><input class="input input-sm" data-id="<?=$v['id']?>" size="20" type="text" name="items[<?=$v['id']?>]" value="<?=$v['data1']?>"/></td>
                <td style="vertical-align:middle">
                        <span class="icon icon-delete">
                            <a href="javascript:;" onclick="cancel(<?=$v['id']?>)"  class="btn-warning">删除</a>
                        </span>
                        <!-- 向下  -->
                        <span onclick="orderItems(<?=$v['id']?>, 1, 4)">
                            <img title="向下" class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                        </span>
                        &nbsp;
                        <!-- 向上  -->
                        <span class="img-flip"  onclick="orderItems(<?=$v['id']?>, 2, 4)">
                            <img title="向上" class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                        </span>
                </td>
            </tr>
            <? } ?>
            </tbody>
            </form>
        </table>
    </div>

    <div class="margin-sx-10">
        <button class="btn btn-success" id="add-keyword" type="button">新增关键字</button>
        <button class="btn btn-info" id="sub-keyword" type="button">修改关键字</button>
    </div>

    <div class="wrap-top">
        <h4>推荐分类设置<img class="info-icon" src="<?=StaticDir?>1.2/images/u253.gif"></h4><span></span>
    </div>

    <form id="form-other">
        <input type="hidden" name="analyId" value="<?=$info['id']?>">
    <div class="wrap-table" style="">
        <table class="table table-hover" style="float: left;position: relative;min-width: 500px;width: 48%;border: 1px solid #dadada;margin-bottom: 0">
            <thead>
            <tr class="active">
                <th width="50%">组合类型分布占比</th>
                <th width="50%"><span id="typeAllCount">100</span>%</th>
            </tr>
            </thead>
            <tbody class="table-list">
            <? foreach (C('COUNT_TYPE') as $k => $v) { ?>
            <tr>
                <td style="vertical-align:middle"><?=$v?></td>
                <td style="vertical-align:middle"><input class="input input-sm floatAll typeAll" size="6" type="text" name="items[<?=($items[5][$k]['id'])?:$k.'-5'?>]" value="<?=round($items[5][$k]['data2'],2)?>"/>%</td>
            </tr>
            <? } ?>
            </tbody>
        </table>

        <table class="table table-hover" style="float: right;position: relative;min-width: 500px;width: 48%;border: 1px solid #dadada;margin-bottom: 0">
            <thead>
            <tr class="active">
                <th width="50%">商标字数分布占比</th>
                <th width="50%"><span id="numAllCount">100</span>%</th>
            </tr>
            </thead>
            <tbody class="table-list">
            <? foreach (C('COUNT_NUM') as $k => $v) { ?>
            <tr>
                <td style="vertical-align:middle"><?=$v?></td>
                <td style="vertical-align:middle"><input class="input input-sm floatAll numAll" size="6" type="text" name="items[<?=($items[6][$k]['id']?:$k.'-6')?>]" value="<?=round($items[6][$k]['data2'],2)?>"/>%</td>
            </tr>
            <? } ?>
            </tbody>
        </table>
    </div>
    </form>
    <div class="wrap-top" style="clear: both"><span></span></div>
    <div class="margin-sx-10">
        <button class="btn btn-info" id="sub-other" type="button">修改组合类型与商标字数</button>
    </div>
<br>
<br>
</div>




<script type="text/javascript">
    $(function(){
        var _Class = JSON.parse('<?=json_encode($CLASS)?>');
        $(".rotClass").on('change', (function (){
            _cla = $(this).val();
            _id  = $(this).attr('data-id');
            console.log(_id);
            if ( isNaN(_cla) || _cla <=0 || _cla > 45 ) {
                layer.tips('填写有误（1~45）', $(this), {
                    tips: 4
                });
                return;
            }
            _str = _Class[_cla];
            $("#c-"+_id).text( _str );
            layer.tips('看这里！！！', $("#c-"+_id), {
                tips: 4
            });
        }));

        //发布分享
        $('#check_bfb').click(function(){
            layer.load(1, {
                shade: [0.1,'#fff'] //0.1透明度的白色背景
            });
            var url = $(this).attr('_href');
            $.getJSON(url,function(data){
                layer.closeAll();
                if(data.code==0){
                    layer.msg('检测成功');
                } else{
                    layer.msg(data.msg);
                }
            });
        });

        $(".baozFloat").on('change', (function (){
            _val = $(this).val();
            if ( isNaN(_val) || _val <=0 || _val > 100 ) {
                layer.tips('填写小数（大于0且小于等于100）', $(this), {
                    tips: 4
                });
                return;
            }
            _val1 = $("#baoz1").val();
            _val2 = $("#baoz2").val();
            if ( _val1 <=0 || _val2 <=0 )  return ;
            _beishu = (_val1/_val2).toFixed(2);
            $("#baoz3").text(_beishu);
        }));

        $(".floatAll").on('change', (function (){
            _cla = $(this).val();
            if ( isNaN(_cla) || _cla <=0 || _cla > 100 ) {
                layer.tips('填写小数（大于0且小于等于100）', $(this), {
                    tips: 4
                });
                return;
            }
            _totalCheck($(".numAll"), 'numAllCount');
            _totalCheck($(".typeAll"), 'typeAllCount');
        }));

        function _totalCheck(obj, str) {
            total = 0;
            obj.each(function(){
                total += parseFloat($(this).val());
            })
            $("#"+str).text(total.toFixed(2));
            return total;
        }

        _totalCheck($(".numAll"), 'numAllCount');
        _totalCheck($(".typeAll"), 'typeAllCount');

        var _D      = new Date();
        var _dMin   = _D.getFullYear()+'-'+(_D.getMonth()+1)+'-01';
        var _dMax   = _D.getFullYear()+'-'+(_D.getMonth()+1)+'-05';
        //console.log(_dMin);
        var _pubDate = {
            elem: '#pubDate',
            format: 'YYYY-MM-DD',
            min: _dMin, //设定最小日期为当前日期
            max: _dMax //最大日期
        };
        laydate(_pubDate);

        $("#sub-info").click(function(){
            _id     = $("#aid").val();
            _title  = $("#title").val();
            _date   = $("#pubDate").val();
            if ( _title == '' || _date == '' ) return false;
            $.ajax({
                type : 'post',
                url  : '/saleanalysis/setAnaly/',
                data : {id:_id,title:_title,date:_date},
                dataType : 'json',
                success : function (data){
                    if (data.code==1){
                        layer.msg('操作成功', {
                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            window.location.reload();
                        });
                    }else{
                        layer.msg(data.msg, {
                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                        });
                    }
                },
                error : function (data){
                    layer.msg('操作失败，请稍后重试。', {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            });
        });

        $("#sub-baoz").click(function(){
            return setItems( $("#form-baoz") );
        });

        $("#sub-class").click(function(){
            return setItems( $("#form-class"), 3 );
        });

        $("#sub-other").click(function(){
            return setItems( $("#form-other") );
        });

        $("#sub-keyword").click(function(){
            return setItems( $("#form-keyword"), 1 );
        });

        ////////////////////////////////////////////////////////////

        $("#add-price").click(function(){
            var _str = '?analyId='+$("#aid").val();
            layer.open({
                type: 2,
                scrollbar: false,
                title: '创建区间价格',
                area: ['600px', '120px'],
                content: '/saleanalysis/addPrice/'+_str
            });
        });

        $("#add-keyword").click(function(){
            var _str = '?id='+$("#aid").val();
            layer.open({
                type: 2,
                scrollbar: false,
                title: '新增关键字',
                area: ['500px', '120px'],
                content: '/saleanalysis/addKeyword/'+_str
            });
        });


    });
    
    function setItems(formObj, type) {
        var _title  = formObj.serialize();
        if ( _title == '' ) return false;
        if ( type == undefined ) type = 2;
        $.ajax({
            type : 'post',
            url  : '/saleanalysis/setAnalyItems/',
            data : _title+'&type='+type,
            dataType : 'json',
            success : function (data){
                if (data.code==1){
                    layer.msg('操作成功', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg(data.msg, {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            },
            error : function (data){
                layer.msg('操作失败，请稍后重试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
        return true;
    }

    function orderItems(id, updown, type)
    {
        if ( id == '' || updown == '' ) return false;
        var aid = $('#aid').val();
        $.ajax({
            type : 'post',
            url  : '/saleanalysis/orderItems/',
            data : {id:id,aid:aid,updown:updown,type:type},
            dataType : 'json',
            success : function (data){
                if (data.code==1){
                    layer.msg('操作成功', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg(data.msg, {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            },
            error : function (data){
                layer.msg('操作失败，请稍后重试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    }

    function showEdit(id, aid)
    {
        if ( id == '' || id == 0 ) return false;
        var _str = '?id='+id+'&analyId='+aid;
        layer.open({
            type: 2,
            scrollbar: false,
            title: '修改区间价格',
            area: ['600px', '120px'],

            content: '/saleanalysis/addPrice/'+_str
        });
    }

    function cancel(id)
    {
        if ( id == '' || id == 0 ) return false;
        layer.confirm('确定要删除吗？', {
            btn: ['是的','算了'], //按钮
            scrollbar: false,
        }, function(){
            $.ajax({
                type : 'post',
                url  : '/saleanalysis/delAnalyItems/',
                data : {id:id},
                dataType : 'json',
                success : function (data){
                    if (data.code==1){
                        layer.msg('操作成功', {
                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            window.location.reload();
                        });
                    }else{
                        var msg = data.msg == undefined ? '操作失败' : data.msg;
                        layer.msg(msg);
                    }
                },
                error : function (data){
                    layer.msg('操作失败，请稍后重试。');
                }
            });
        });
    }
</script>

<? require(ViewDir.'/footer.html'); ?>