<? require(ViewDir.'/header.html');?>

<link rel="stylesheet" href="<?=StaticDir?>1.2/css/main.css">

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li>首页</li>
        <li>商标列表</li>
        <li>国内商标列表</li>
    </ul>
    <!-- <span style="float:right;margin-right:20px;color:red;">在售商标总数：<?=$total ?></span> -->
</div>
<div class="wrap">
    <div class="mj-screening">
        <div class="mj-seT f-clearfix">
            <span>商标筛选</span>
            <!-- <a href="javascript:void(0)">设置我的筛选偏好</a>-->
        </div>
        <form name="saleSearchForm" id="saleSearchForm" action="/internal/index/" method="GET">
        <dl>
            <dt><span>商标分类：<button class="btn" type="button">全部分类</button></span></dt>
            <dd class="mj-ddList" <?if(empty($s['tmClass'])){echo 'style="display:none"';}?> >
                <ul class="f-clearfix">
                <input type="hidden" id="tmClass" name="tmClass" value="<?=$s['tmClass']?>">
                <? foreach ($tmClass as $k => $v) {?>
                    <li><input type="checkbox" tname="tmClass"
                    <?if(!empty($s['tmClass']) && in_array($v, array_filter(explode(',', $s['tmClass'])))){
                        echo 'checked';} ?> value="<?=$v?>" class="tmClass" />
                    <label for="che<?=$v?>">第<?=$v?>类</label></li>
                <? } ?>
                </ul>
            </dd>
            <dd>
                <label>商标名称：</label><input type="text" name="tmName" value="<?=$s['tmName']?>" class="input input-sm"/> 
                <label class="mj-mle">商标号：</label><input type="text" name="tmNumber" value="<?=$s['tmNumber']?>" class="input input-sm"/>
                <label class="mj-mle">群组：</label><input type="text" name="tmGroup" value="<?=$s['tmGroup']?>" id="groupes" class="input input-sm"/>
                <label class="mj-mle">销售状态：</label>
                <select name="saleStatus" class="input input-sm">
                    <option value="0">--请选择--</option>
                <? foreach ($saleStatus as $k => $v) {?>
                    <option value="<?=$k?>" <?if($s['saleStatus']==$k){echo 'selected';} ?> ><?=$v?></option>
                <? } ?>
                </select>
            </dd>
            <dd>
                <label>出售时间：</label><input type="text" name="dateStart" value="<?=$s['dateStart']?>" class="input input-sm" readonly onclick="laydate()" /> 
                <label>&nbsp;&nbsp;至&nbsp;&nbsp;</label> <input type="text" name="dateEnd" value="<?=$s['dateEnd']?>" class="input input-sm" readonly onclick="laydate()" />
                <label class="mj-mle">来源渠道：</label>
                <select name="saleSource" class="input input-sm">
                    <option value="0">--请选择--</option>
                <? foreach ($saleSource as $k => $v) {?>
                    <option value="<?=$k?>" <?if($s['saleSource']==$k){echo 'selected';} ?>><?=$v?></option>
                <? } ?>
                </select>
                <label class="mj-mle">交易类型：</label>
                <select name="saleType" class="input input-sm">
                    <option value="0">--请选择--</option>
                <? foreach ($saleType as $k => $v) {?>
                    <option value="<?=$k?>" <?if($s['saleType']==$k){echo 'selected';} ?>><?=$v?></option>
                <? } ?>
                </select>
            </dd>
            <dd>
                <label>商标类型：</label>
                <input type="hidden" id="tmType" name="tmType" value="<?=$s['tmType']?>">
                <? foreach ($tmType as $k => $v) {?>
                <div class="mj-checkbox">
                    <input type="checkbox" tname="tmType" 
                    <?if(!empty($s['tmType']) && in_array($k, array_filter(explode(',', $s['tmType'])))){
                        echo 'checked';} ?> value="<?=$k?>" class="tmType" />
                    <label for="le<?=$k?>"><?=$v?></label>
                </div>
                <? } ?>
            </dd>
            <dd>
                <label>商标数字：</label>
                <input type="hidden" id="tmNums" name="tmNums" value="<?=$s['tmNums']?>">
                <? foreach ($tmNums as $k => $v) {?>
                <div class="mj-checkbox">
                    <input type="checkbox" tname="tmNums" 
                    <?if(!empty($s['tmNums']) && in_array($k, array_filter(explode(',',$s['tmNums'])))){
                        echo 'checked';} ?> value="<?=$k?>" class="tmNums" />
                    <label for="va<?=$k?>"><?=$v?></label>
                </div>
                <? } ?>
            </dd>
            <dd>
                <label>底&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：</label>
                <div class="mj-radio">
                    <input type="text" maxlength="10" size="15" class="input input-sm" value="<?=$s['startPrice']==0?'':$s['startPrice']?>" name="startPrice"/>&nbsp;-&nbsp;
                    <input type="text" maxlength="10" size="15" class="input input-sm" value="<?=$s['endPrice']==0?'':$s['endPrice']?>" name="endPrice"/>
                </div>
                <div class="mj-radio">
                    <input type="checkbox" <?if($s['isConfer'] == 1){echo 'checked';} ?> value="1" name="isConfer"/>
                    <label for="rad0>">面议</label>
                </div>

                <label><input type="checkbox" id="show_rd" <? if(!empty($s['regDate'])) echo 'checked';?>>只查找该时间段前商品 </label>
                <div class="mj-radio" id="reDate" style="<? if(empty($s['regDate'])){?>display:none;<? } ?>">
                    <input type="text" style="border:1px solid #ccc;" value="<?=$s['regDate']==0?'':$s['regDate']?>" class="input input-sm" name="regDate" onclick="laydate({format: 'YYYY-MM-DD',min:'2000-01-01',max:laydate.now()})"/>
                </div>
            </dd>
            <dd>
                <label>商标标签：</label>
                <input type="hidden" id="tmLabel" name="tmLabel" value="<?=$s['tmLabel']?>">
                <? foreach ($tmLabel as $k => $v) {?>
                <div class="mj-checkbox">
                    <input type="checkbox" tname="tmLabel" 
                    <?if(!empty($s['tmLabel']) && in_array($k, array_filter(explode(',',$s['tmLabel'])))){
                        echo 'checked';} ?> value="<?=$k?>" class="tmLabel" />
                    <label for="bq<?=$k?>"><?=$v?></label>
                </div>
                <? } ?>
                <label>其他属性：</label>
                <div class="mj-checkbox">
                    <input type="checkbox" name="offprice" <?if($s['offprice']==1){echo 'checked';}?> value="1" id="bq8"/>
                    <label for="bq8">特价</label>
                </div>
                <div class="mj-checkbox">
                    <input type="checkbox" name="isTop" <?if($s['isTop']==1){echo 'checked';}?> value="1" id="bq9"/>
                    <label for="bq9">置项</label>
                </div>
                <div class="mj-checkbox">
                    <input type="checkbox" name="listSort" <?if($s['listSort']==1){echo 'checked';}?> value="1" id="bq9"/>
                    <label for="bq9">列表(排序)</label>
                </div>

                <label>编号(tid)：</label>
                <div class="mj-radio">
                    <input type="text" maxlength="20" size="20"class="input input-sm" value="<?=$s['tid']==0?'':$s['tid']?>" name="tid" />
                </div>
            </dd>
            <dd>
                <label>平台入驻：</label>
                <input type="hidden" id="salePlat" name="salePlat" value="<?=$s['salePlat']?>">
                <? foreach ($salePlat as $k => $v) {?>
                <div class="mj-checkbox">
                    <input type="checkbox" tname="salePlat" 
                    <?if(!empty($s['salePlat']) && in_array($k, array_filter(explode(',',$s['salePlat'])))){
                        echo 'checked';} ?> value="<?=$k?>" class="salePlat" />
                    <label for="pt<?=$k?>"><?=$v['name']?></label>
                </div>
                <? } ?>
            </dd>
            <dd style="height: 35px;">
                <a href="javascript:void(0);" style="margin: 10px;float: left;" class="mj-sBtn" id="mj-sBtn">搜索</a>
                <a href="javascript:void(0);" style="margin: 10px;float: left; <? if(empty($s['tmClass'])){?>display: none;<? } ?>" class="mj-sBtn" id="jq_search">精确搜索</a>
            </dd>
        </dl>
            <input type="hidden"  name="jname" value="">
        </form>
    </div>
    <div class="wrap-content">
        <p class="text-left" style="float:left;padding-top:20px;">共有 <b class="red"><?=$allTotal?></b> 条数据，当前筛选结果 <b class="blue"><?=$total?></b> 条数据</p>
        <div class="wrap-tittle">
            <? if( in_array('15', $_role_) ){ ?>
            <button class="btn btn-danger" onclick="add();"    type="button">创建商品</button>
            <? } ?>
            <? if( in_array('16', $_role_) ){ ?>
            <button class="btn btn-danger" onclick="Import();" type="button">导入商品</button>
            <? } ?>
            <button class="btn btn-info" onclick="download();" type="button" type="button">导出表格EXCEL</button>
            <? if( in_array('2', $_role_) ){ ?>
            <button type="button" class="btn btn-info" onclick="setMoreDown();">批量下架</button>
            <? } ?>
            <? if( in_array('3', $_role_) ){ ?>
            <button type="button" class="btn btn-info" onclick="delMoreSale();">批量删除</button>
            <? } ?>
            <button class="btn btn-info" type="button" onclick="reloadList();">刷新</button>
        </div>
        <div class="wrap-table">
            <table class="table table-hover" style="border: 1px solid #dadada;margin-bottom: 0">
                <thead>
                    <tr class="active">
                        <th><input type="checkbox" id="chkAll"></th>
                        <th>商标号</th>
                        <th>销售状态</th>
                        <th>出售时间</th>
                        <th>商标名</th>
                        <th>交易类型</th>
                        <th width="5%">类别</th>
                        <th>顾问/部门</th>
                        <th>来源渠道</th>
                        <th>联系方式</th>
                        <th>底价</th>
                        <th>售价</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody class="table-list">
                <? foreach ($saleList as $k => $v) {  ?>
                <tr>
                    <td><input type="checkbox" name="chkId[]" class="chklist" value="<?=$v['id']?>"></td>
                    <td><?=$v['number']?></td>
                    <td><span <?if ($v['status']==1){
                            echo 'class="blue"';
                        }elseif ($v['status']==2){
                            echo 'class="red"';
                        }else{
                            echo 'class="yellow"';
                        }
                        ?> ><?=$saleStatus[$v['status']]?></span></td>
                    <td><?if($v['date']==0){echo '-';}else{echo date("Y-m-d", $v['date']);}?>
                    <?if( !empty($v['tminfo']['embellish'])){?><span class="blue">包</span><?}?></td>
                    <td title="<?=$v['name']?>"><?if(mb_strlen($v['name'],'utf8') > 15)
                    {echo mb_substr($v['name'],0,12,'utf8')."...";}
                    else{echo $v['name'];}?></td>
                    <td><? if ($v['isSale'] == 1 && $v['isLicense'] == 1) {
                            echo $saleType[3];
                        }elseif($v['isSale'] == 1){
                            echo $saleType[1];
                        }elseif($v['isLicense'] == 1){
                            echo $saleType[2];
                        }?></td>
                    <td><?if(count(explode(',', $v['class'])) > 1){?>
                        <div class="more" ><span>多类</span>
                            <ol style=" max-height: 150px;  overflow-y: auto;width: 80px;">
                                <? foreach (explode(',', $v['class']) as $cls) {
                                    echo "<li>$cls 类</li>";
                                }?>
                            </ul>
                        </div>
                    <?}else{echo $v['class']."类";}?></td>
                    <td class="showMore"><?if(count($v['contact']) > 1){echo "多顾问";}else
                    {$ct=current($v['contact']);echo $ct['advisor'].'-'.$ct['department'];} ?>
                    </td>
                    <td class="showMore"><?if(count($v['contact']) > 1){echo '多渠道';}
                    else{$ct=current($v['contact']);echo $saleSource[$ct['source']];} ?>
                    </td>
                    <td class="showMore"> <?if(count($v['contact']) > 1){?>
                        <div class="more"><span>多联系方式</span>
                            <ul>
                            <?foreach ($v['contact'] as $key => $value) { ?>
                                <li><table width="99%"><tr align="center">
                                <td width="30%"><?=$value['advisor'].'-'.$value['department']?></td>
                                <td width="15%"><?=$saleSource[$value['source']]?></td>
                                <td width="40%">
                                <?if($value['isVerify'] == 2){?><span class="red">审</span><?}?>
                                <?php echo mbSub( $value['name'] , 0, 3);?>-<?=$value['phone']?></td>
                                <td width="15%"><?=$value['price']?></td>
                                </tr></table>
                            <?}?>
                            </ul>
                        </div>
                    <? }else{$ct=current($v['contact']);if($ct['isVerify'] == 2){echo '<span class="red">审</span>';}echo  mbSub( $ct['name'] , 0, 3)."-".$ct['phone'];} ?>
                    </td>
                    <td class="showMore"><?if(count($v['contact']) > 1){echo '多底价';}
                    else{$ct=current($v['contact']);echo $ct['price'];} ?>
                    </td>
                    <td class="showMore"><?if($v['priceType']==2){echo "议价";}else{echo $v['price'];}?></td>
                    <td>
                        <span class="icon icon-delete">
                        <?if($v['status']==1){?>
                            <? if( in_array('2', $_role_) ){ ?>
                            <a href="javascript:;" class="btn-warning" onclick="doDown(<?=$v['id']?>);">下架</a>
                            <? } ?>
                        <?}elseif($v['status']==2 && count($v['contact']) > 0){?>
                            <a href="javascript:;" class="btn-success" onclick="doUp(<?=$v['id']?>);">上架</a>
                        <?}?></span>
                        <span class="icon icon-editor">
                        <a href="/internal/edit/?id=<?=$v['id']?>" class="btn-info">编辑</a>
                        </span>
                    </td>
                </tr>
                <? } ?>
                </tbody>
            </table>
        </div>    
<div id="page" align="center"><?=$pageBar?></div>  
    </div>
</div>



<link rel="stylesheet" href="<?=StaticDir?>1.2/css/import.css" />
<style>
	.check label{
		width: 100px;
    	display: inline-block;
    	margin-bottom: 14px;
	}
	.check input{
		margin:0px;
		vertical-align:top;
	}
</style>
<div class="im-wrap" id="download" style="display:none;" >
	<div class="im-title borderBtmCd">
		<em><span class="im-title-span"><img src="<?=StaticDir?>1.2/images/u30.gif" alt="">关闭</span></em>
		<h1>导出商品</h1>
	</div>
	<div class="loading borderBtmCd" style="height:70px;padding-top:25px;">
		<em>当前共&nbsp;<?=$total?>&nbsp;条商品。如导出商品过多 ，请先通过筛选功能筛选后再进行导出。</em>
	</div>
	<br>
	<p><em>请选择您需要导出的数据</em></p>
	<br>
	<div class="check borderBtmCd mb10">
		<iframe name="excelpost" style="display:none;"></iframe>
		<form name="saleSearchForm" action="/internal/excel/" method="post" id="excelpost" target="excelpost">
		<?php
		if($s){
			foreach($s as $k => $v){
				if($k != 'page'){
					echo "<input type='hidden' checked name='".$k."' value='".$v."' /> ";
				}
			}
		}
		?>
		<input type="hidden" name="excelTable" id="excelTable" value="" >
		</form>
		<label><input type="checkbox" checked class="excelTable" value="1" >ID</label>
		<label><input type="checkbox" checked class="excelTable" value="2" disabled>商标号</label>
		<label><input type="checkbox" checked class="excelTable" value="3">销售状态</label>
		<label><input type="checkbox" checked class="excelTable" value="4">出售时间</label>
		<label><input type="checkbox" checked class="excelTable" value="5">商标名称</label>
		<label><input type="checkbox" checked class="excelTable" value="6">交易类型</label>
		<label><input type="checkbox" checked class="excelTable" value="7">类别</label>
		<label><input type="checkbox" checked class="excelTable" value="8">顾问/部门</label>  
		<label><input type="checkbox" checked class="excelTable" value="9">来源渠道</label>
		<label><input type="checkbox" checked class="excelTable" value="10">联系方式</label>
		<label><input type="checkbox" checked class="excelTable" value="11">底价</label>
		<label><input type="checkbox" checked class="excelTable" value="12">售价</label>
	</div>
	
	<p class="">
		<a href="javascript:" class="nexta">确定</a>
		<a href="javascript:" class="cancela">取消</a>
	</p>
</div>

<script type="text/javascript" src="<?=StaticDir?>1.2/js/internal/updown.js"></script>

<script src="<?=StaticDir?>1.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function(){
        $(".mj-screening .btn").click(function(){
            $(".mj-ddList").toggle();
        });
        $("#mj-sBtn").click(function(){
            $("#saleSearchForm").submit();
        });
        
        //精确搜索
        $("#jq_search").click(function(){
            $("input[name='jname']").val(1);
            $("#saleSearchForm").submit();
        });
        //注册时间选择切换效果
        $("#show_rd").click(function(){
            $("input[name='regDate']").val("");
            $("#reDate").toggle();
        });
        //多选处理
        $('input[type="checkbox"]').click(function(){
            var strClass = '';
            var id = $(this).attr('tname');
            $('.'+id).each(function(){
                if($(this).prop('checked')){
                    strClass += ","+$(this).val();
                }
            })
            strClass = strClass ? strClass.substr(1) : '';
            $('#'+id).val(strClass);
            if(id=="tmClass"){
                if(strClass){
                    $("#jq_search").show();
                }else{
                    $("#jq_search").hide();
                }
            }
        });
        $(".table tr td.showMore").hover(function(){
            $(this).parent('tr').find('.more > ul').show();
        },function(){
            $(this).parent('tr').find('.more > ul').hide();
        });

        $('#chkAll').click(function(){ 
            $('.chklist').prop("checked",this.checked);
        });

		$(".im-title-span,.cancela").on("click",function(){
            layer.closeAll();
        });
		
		//提交导出
		$('.nexta').click(function(){
		
			var str = '';
			$('.excelTable').each(function(){
				if($(this).prop('checked')){
					str += ","+$(this).val();
				}
			})
			str = str ? str.substr(1) : '';
			$('#excelTable').val(str);
			$('#excelpost').submit();
			return false;
		})
	
    });

    //批量下架
    function setMoreDown()
    {
        var chkId = getChecked();
        if ( chkId == '' ) {
            layer.msg('请选择至少一个商品', {
                time: 2000 //2秒关闭（如果不配置，默认是3秒）
            });
            return false;
        }
        layer.prompt({
            formType: 2,
            scrollbar: false,
            value: '',
            maxlength: 100,
            title: '请输入下架原因'
        }, function(value, index, elem){
            if ( $.trim(value) == ''){
                layer.tips('请输入下架原因',elem);
                return false;
            }else{
                $.ajax({
                    type : 'post',
                    url  : '/internal/doDown/',
                    data : {'id':chkId, 'reason':value},
                    dataType : 'json',
                    success : function (data){
                        if (data.code==1){
                            layer.msg('操作成功！', {
                                time: 1000 //2秒关闭（如果不配置，默认是3秒）
                            }, function(){
                                window.location.reload();
                            });
                        }else{
                            layer.msg('操作失败！', {
                                time: 1000 //2秒关闭（如果不配置，默认是3秒）
                            });
                        }
                    },
                    error : function (data){
                        layer.msg('操作失败，请稍后重试。', {
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        });
                    }
                });
            }
        });
    }

    function delMoreSale()
    {
        var chkId = getChecked();
        if ( chkId == '' ) {
            layer.msg('请选择至少一个商品', {
                time: 2000 //2秒关闭（如果不配置，默认是3秒）
            });
            return false;
        }
        var url = '?id='+chkId;
        layer.open({
            type: 2,
            title: false,
            scrollbar: false,
            closeBtn: false,
            area: ['520px', '400px'],

            content: '/internal/delete/'+url,
        });
        return false;
    }

    function getChecked()
    {
        var strId = '';
        $('.chklist').each(function(){
            if($(this).prop('checked')){
                strId += ","+$(this).val();
            }
        });
        strId = strId ? strId.substr(1) : '';
        return strId;
    }

    function add()
    {
        layer.open({
            type: 2,
            title: false,
            scrollbar: false,
            closeBtn: false,
            area: ['560px', '350px'],

            content: '/internal/create/'
        });
    }
	
	//批量导入商标
	function Import()
    {
        layer.open({
            type: 2,
            title: false,
            scrollbar: false,
            closeBtn: false,
            area: ['650px', '420px'],
            content: '/internal/import/'
        });
    }

    function reloadList()
    {
        window.location.reload();
    }
	
	//弹出群组数据
	$('#groupes').click(function(){
		var classes = $('#tmClass').val();
		//var oldclasses = $('#oldclasses').val();
		//if(oldclasses != classes){
		//	$(this).val('');
		//}
		if(classes){
			//iframe层-父子操作
			layer.open({
				title: '选择群组',
				type: 2,
				area: ['570px', '420px'],
				fix: false, //不固定
				maxmin: true,
				content: '/internal/groups/?class='+classes
			});
		}
		return false;
	})
	
	//导出弹出
	function download()
    {
		 layer.open({
            type: 1,
            title: false,
            scrollbar: false,
            closeBtn: false,
            area: ['630px', '360px'],
            content: $('#download')
        });
    }
</script>

<? require(ViewDir.'/footer.html'); ?>