<? require(ViewDir.'/header.html');?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/details.css">
<script charset="utf-8" src="<?=StaticDir?>/editor/kindeditor.js"></script>
<script charset="utf-8" src="<?=StaticDir?>/editor/lang/zh_CN.js"></script>
<script>
        KindEditor.ready(function(K) {
            window.editor = K.create('#intro', {
                afterBlur: function () { this.sync(); }
            });
        });
		
</script>

<div class="wrap">
<input type="hidden" name="saleId" id="saleId" value="<?=$sale['id']?>">
    <div class="wrap-top">
        <h4>编辑商品</h4><span></span>
    </div>
    <div class="mj-ztBar f-clearfix">
        <div class="mj-ztBl">
            <span>商品状态</span>
            <em class="blue"><?=$saleStatus[$sale['status']]?></em>
            <?if(!$isBlack){?>
                <?if($sale['status']==1){?>
                <a href="javascript:;" class="btn-warning" onclick="doUpDown('down', <?=$sale['id']?>);">下架</a>
                <?}elseif($sale['status']==2){?>
                <a href="javascript:;" class="btn-success" onclick="doUpDown('up', <?=$sale['id']?>);">上架</a>
                <?}?>
            <?}?>
        </div>
        <?if($isBlack){?>
        <span class="mj-ztBr">当前商品已在黑名单内，如需编辑请先 
        <a href="javascript:void(0);" onclick="outBlack(<?=$sale['id']?>,'<?=$sale['number']?>');">剔除黑名单</a></span>
        <?}else{?>
        <a href="javascript:void(0);" onclick="setBlack(<?=$sale['id']?>,'<?=$sale['number']?>');" class="mj-ztBr">加入黑名单</a>
        <?}?>
    </div>
    <div class="mj-detaImg">
        <div class="mj-deiT">
            <span>商标基本信息</span>
            <a target="_blank" href="http://g.chaofan.wang/guanjia/Member/tmView?&id=<?=$sale['number']?>&tmclass=<?=substr($sale['class'],0,2)?>">去商标管家查看详细信息）</a>
        </div>
        <div class="mj-deiB f-clearfix">
            <label><img src="<?=StaticDir?>1.2/images/mj-img2.jpg" alt=""/></label>
            <table>
                <tbody>
                <tr>
                    <td>商标名称：<?=$sale['name']?></td>
                    <td>商标号：<?=$sale['number']?></td>
                    <td>申请人：<?=$tminfo['proName']?></td>
                    <td>商标状态：<?=$tminfo['status']?></td>
                </tr>
                <tr>
                    <td>区    域：国内</td>
                    <td>有效期至：2015-15-15</td>
                    <td colspan="2">类别：<?=$sale['class']?>类</td>
                </tr>
                <tr>
                    <td colspan="4">使用商品：<?=$tminfo['goods']?></td>
                </tr>
                <tr>
                    <td colspan="4">群    组：<?=$sale['group']?></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<?if(!$isBlack){?>
    <div class="mj-sellT">
        <table>
            <thead>
            <tr>
                <td colspan="10">出售信息</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>序号</td>
                <td>出售时间</td>
                <td>来源渠道</td>
                <td>联系人</td>
                <td>联系电话</td>
                <td>底价(元)</td>
                <td>销售类型</td>
                <td>顾问-部门</td>
                <td>出售价格审核</td>
                <td>操作</td>
            </tr>
    <?foreach ($sale['contact'] as $ky => $vl) { ?>
            <tr>
                <td><?=$vl['id']?></td>
                <td><?=date('Y-m-d', $vl['date'])?></td>
                <td><?=$saleSource[$vl['source']]?></td>
                <td><?=$vl['name']?></td>
                <td><?=$vl['phone']?></td>
                <td><?=$vl['price']?></td>
                <td><?=$saleType[$vl['saleType']]?></td>
                <td><?=$vl['advisor'].'-'.$vl['department']?></td>
                <td><em class="blue"><?if($vl['isVerify']==1){?>已审核<?}else{?>未审核<?}?></em></td>
                <td>
                    <a href="">删除</a>
                    <a href="javascript:void(0);" onclick="setContact(<?=$sale['id']?>, <?=$vl['id']?>);">编辑</a>
                    <a href="">生成报价</a>
                </td>
            </tr>
    <?}?>
            </tbody>
        </table>
    </div>
<?}?>
    <div class="mj-deiBlist">
<?if(!$isBlack){?>
        <div class="mj-deiBtns">
            <a href="javascript:void(0);" id="mj-deib">新增出售信息</a>
        </div>
    <form id="priceForm">
        <table class="mj-table">
            <thead>
            <tr>
                <td>出售信息</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="f-clearfix">
                    <div class="fl">
                        <input type="checkbox" name="isSale" id="isSale" value="1" <?if($sale['isSale']==1){echo "checked";}?>/>
                        <label for="tdi1">可出售</label>
                    </div>
                    <div class="mj-list1">
                        <label>销售价格类型：</label>
                        <select name="priceType" id="priceType">
                            <option value="1" <?if($sale['priceType']==1){echo 'selected';}?>>定价</option>
                            <option value="2" <?if($sale['priceType']==2){echo 'selected';}?>>议价</option>
                        </select>
                <div class="mj-seCl">
                    <ul>
                        <li>
                            <label>销售价格：</label>
                            <input type="text" name="price" id="price" value="<?=$sale['price']?>" placeholder="请输入价格"/>元
                        </li>
                        <li>
                            <input type="checkbox" name="isOffprice" value="1" id="isOffprice" 
                            <?if($sale['isOffprice']==1){echo 'checked';}?>/>
                            <label for="in">是否参与特价</label>&nbsp;&nbsp;
                            销售价格：<input type="text" name="salePrice" id="salePrice" value="<?=$sale['salePrice']?>" placeholder="请输入价格"/>元
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <label for="in1">截止时间：</label>
                            <input type="radio" name="priceDate" id="priceDate" 
                            <?if($sale['salePriceDate']<=0){echo 'checked';}?> value="2" id="in1"/>
                            <label for="in1">不限时</label>
                            <input type="radio" name="priceDate" id="priceDate" value="1" 
                            <?if($sale['salePriceDate']>0){echo 'checked';}?> id="in2"/>
                            <label for="in2">截止于</label>
                            <input type="text" name="salePriceDate" id="salePriceDate" 
                            value="<?if($sale['salePriceDate']>0){
                                echo date('Y-m-d h:i:s',$sale['salePriceDate']);
                            }?>" readonly onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm:ss'})" placeholder="请选择截止日期"/>
                        </li>
                    </ul>
                </div>

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="isLicense" id="isLicense"  value="1" <?if($sale['isLicense']==1){echo "checked";}?>/>
                    <label for="tdi2">可授权</label>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
        <div class="mj-deiBtns">
            <a href="javascript:void(0);" onclick="setPrice();">确定价格信息</a>
        </div>
        <div class="mj-thBar">
            <div class="mj-thbT">
                <label for="thb">商品包装信息</label>
            </div>
            <dl>
    <form id="bzxxForm">
                <dd>
                    <label>商标类型：</label>
                    <input type="hidden" id="type" name="type" value="<?=$sale['type']?>">
                <? foreach ($tmType as $k => $v) {?>
                <div class="mj-checkbox">
                    <input type="checkbox" tname="type" 
                    <?if(!empty($sale['type']) && in_array($k, array_filter(explode(',', $sale['type'])))){
                        echo 'checked';} ?> value="<?=$k?>" class="ck_type" />
                    <label for="le<?=$k?>"><?=$v?></label>
                </div>
                <? } ?>
                </dd>
                <dd>
                    <label>商标数字：</label>
                    <input type="hidden" id="length" name="length" value="<?=$sale['length']?>">
                <? foreach ($tmNums as $k => $v) {?>
                <div class="mj-checkbox">
                    <input type="checkbox" tname="length" 
                    <?if(!empty($sale['length']) && in_array($k, array_filter(explode(',',$sale['length'])))){
                        echo 'checked';} ?> value="<?=$k?>" class="ck_length" />
                    <label for="va<?=$k?>"><?=$v?></label>
                </div>
                <? } ?>
                </dd>
                <dd>
                    <label>商标标签：</label>
                    <input type="hidden" id="label" name="label" value="<?=$sale['label']?>">
                <? foreach ($tmLabel as $k => $v) {?>
                <div class="mj-checkbox">
                    <input type="checkbox" tname="label" 
                    <?if(!empty($sale['label']) && in_array($k, array_filter(explode(',',$sale['label'])))){
                        echo 'checked';} ?> value="<?=$k?>" class="ck_label" />
                    <label for="bq<?=$k?>"><?=$v?></label>
                </div>
                <? } ?>
                <div class="mj-checkbox">
                    <input type="checkbox" name="isTop" <?if($sale['isTop']==1){echo 'checked';}?> value="1" id="bq9"/>
                    <label for="bq9">置项</label>
                </div>
                </dd>
                <dd>
                    <label>平台入驻：</label>
                   <input type="hidden" id="platform" name="platform" value="<?=$sale['platform']?>">
                <? foreach ($salePlat as $k => $v) {?>
                <div class="mj-checkbox">
                    <input type="checkbox" tname="platform" 
                    <?if(!empty($sale['platform']) && in_array($k, array_filter(explode(',',$sale['platform'])))){
                        echo 'checked';} ?> value="<?=$k?>" class="ck_platform" />
                    <label for="pt<?=$k?>"><?=$v['name']?></label>
                </div>
                <? } ?>
                </dd>
                <dd><label>价值分析：</label><textarea name="value" placeholder="请用一句话表达，限100个汉字内">
                <?=$sale['tminfo']['value']?></textarea></dd>
                <dd >
                    <input type="hidden" name="bzpic" class="bzpic" value="<?=$sale['tminfo']['embellish']?>" />
                    <input type="hidden" name="tjpic" class="tjpic" value="<?=$sale['tminfo']['indexPic']?>" />
                    <div class="bzform">
                        <label>美化图片：</label><img src="<?=$sale['tminfo']['embellish']?>" class="bzpic" style="width:30px;height:30px;">
                        <input type="file" id="bzfile" name="fileName" style="display: inline-block;"/>
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="tjform">
                        <label>特价图片：</label><img src="<?=$sale['tminfo']['indexPic']?>" class="tjpic" style="width:30px;height:30px;">
                        <input type="file" id="tjfile" name="fileName" style="display: inline-block;"/>
                    </div>
                </dd>
                <dd><label>商标介绍：</label><textarea name="intro" id="intro" style="width:80%;">
                    <?=$sale['tminfo']['intro']?>
                </textarea></dd>
                <dd>
                    <label>展示电话：</label>
                    <select name="viewPhone" id="viewPhone">
                        <option>13412121451</option>
                        <option>13412121451</option>
                        <option>13412121451</option>
                    </select>
                </dd>
    </form>
            </dl>
        </div>
    <div class="mj-deiBtns">
        <a href="javascript:void(0);" onclick="setBzxx();">提交包装信息</a>
    </div>
        <div class="mj-becen">
            <p>备注</p>
            <div class="mj-sr">
                <textarea id="memo"><?=$sale['memo']?></textarea>
            </div>
        </div>
    </div>
    <div class="mj-deiBtns">
        <a href="javascript:void(0);" onclick="setMemo();">提交备注</a>
    </div>
<?}?>
    <table class="mj-tables">
        <tbody>
        <tr>
            <td>操作记录</td>
        </tr>
    <?foreach ($log as $v) { ?>
        <tr>
            <td><?if($v['roleId']==0){echo "用户";}else{echo $v['roleName'];}?>&nbsp;&nbsp;&nbsp;&nbsp;
            <?=$v['name']?>&nbsp;&nbsp; 于&nbsp;&nbsp; <?=date("Y-m-d h:i:s",$v['date'])?> 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?=$v['typeName']?>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注(原因)：<?=empty($v['memo'])?'无':$v['memo']?></td>
        </tr>
    <?}?>
        </tbody>
    </table>
</div>


<script type="text/javascript">
    $(function(){
        $("#mj-deib").click(function(){
            var id = $("#saleId").val();
            setContact(id, 0);
        });
        $("#priceType").change(function(){
            var vl = $(this).children('option:selected').val();
            if ( vl == 1 ){
                $(".mj-seCl").show();
            }else{
                $(".mj-seCl").hide();
            }
        });

        //多选处理
        $('input[type="checkbox"]').click(function(){
            var strClass = '';
            var id = $(this).attr('tname');
            $('.ck_'+id).each(function(){
                if($(this).prop('checked')){
                    strClass += ","+$(this).val();
                }
            })
            strClass = strClass ? strClass.substr(1) : '';
            $('#'+id).val(strClass);
        });

        $("#priceType").change();

        $(".bzform").wrap("<form id='bzformupload' action='/internal/ajaxUploadPic/' method='post' enctype='multipart/form-data'></form>");
        $("#bzfile").on('change', function(){
            $("#bzformupload").ajaxSubmit({
                dataType:  'json',
                success: function(data) {
                    if (data.code == 1){
                        $('.bzpic').val(data.img);
                        $('.bzpic').attr('src', data.img);
                        //$('#imageurl').css('visibility', 'visible');
                    }else{
                        alert(data.msg);
                    }
                },
                error:function(xhr){
                    alert('图片格式不正确或图片过大，请重新上传！');
                }
            });
        });

        $(".tjform").wrap("<form id='tjformupload' action='/internal/ajaxUploadPic/' method='post' enctype='multipart/form-data'></form>");
        $("#tjfile").on('change', function(){
            $("#tjformupload").ajaxSubmit({
                dataType:  'json',
                success: function(data) {
                    if (data.code == 1){
                        $('.tjpic').val(data.img);
                        $('.tjpic').attr('src', data.img);
                        //$('#imageurl').css('visibility', 'visible');
                    }else{
                        alert(data.msg);
                    }
                },
                error:function(xhr){
                    alert('图片格式不正确或图片过大，请重新上传！');
                }
            });
        });
    });
    function setBzxx()
    {
        var saleId  = $("#saleId").val();
        var data    = $("#bzxxForm").serialize();
        $.ajax({
            type : 'post',
            url  : '/internal/setEmbellish/',
            data : data+'&saleId='+saleId,
            dataType : 'json',
            success : function (data){
                if (data.code==1){
                    layer.msg('操作成功！', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg('操作失败，请重试。', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            },
            error : function (data){
                layer.msg('操作失败，请稍后重试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    }
    function setPrice()
    {
        var isSale      = $("#isSale").is(':checked');
        var isLicense   = $("#isLicense").is(':checked');
        var isOffprice  = $("#isOffprice").is(':checked');
        var saleId      = $("#saleId").val();
        if ( !isSale && !isLicense ){
            layer.msg('至少选择 出售与许可 中一项');
            return false;
        }
        if ( isSale ){
            var type = $("#priceType").children('option:selected').val();
            if ( type == 1 ){//定价
                if ( $("#price").val() <= 0 ){//必须输入销售价格
                    layer.msg('请输入销售价格');
                    return false;
                }
                if ( isOffprice ){//选择特价
                    if ( $("#salePrice").val() <= 0  ){
                        layer.msg('请输入特价价格');
                        return false;
                    }
                    var radio = $('input:radio[name="priceDate"]:checked').val();
                    if ( radio == null ){
                        layer.msg('请选择一种特价方式');
                        return false;
                    }else if ( radio == 1 && $("#salePriceDate").val() == '' ){
                        layer.msg('请选择特价限时时间');
                        return false;
                    }
                }
            }
        }
        var data = $("#priceForm").serialize();
        $.ajax({
            type : 'post',
            url  : '/internal/setPrice/',
            data : data+'&saleId='+saleId,
            dataType : 'json',
            success : function (data){
                if (data.code==1){
                    layer.msg('操作成功！', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg('操作失败，请重试。', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            },
            error : function (data){
                layer.msg('操作失败，请稍后重试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    }
    function setMemo()
    {
        var saleId  = $("#saleId").val();
        var memo    = $("#memo").val();
        if ( $.trim(memo) == '' ){
            layer.msg('请输入备注信息');
            return false;
        }
        $.ajax({
            type : 'post',
            url  : '/internal/setMemo/',
            data : {'saleId':saleId, 'memo':memo},
            dataType : 'json',
            success : function (data){
                if (data.code==1){
                    layer.msg('操作成功！', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg('操作失败，请重试。', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            },
            error : function (data){
                layer.msg('操作失败，请稍后重试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    }
    function setContact(saleId, cId)
    {
        if ( saleId <= 0 || saleId == '' ) return false;
        var url = '?saleId='+saleId+'&cId='+cId;
        layer.open({
            type: 2,
            title: false,
            closeBtn: false,
            area: ['501px', '485px'],

            content: '/internal/contact/'+url,
        });
    }
    function outBlack(id, number)
    {
        if ( $.trim(number) == '' || $.trim(id) == '' ){
            layer.msg('操作失败，请重试。', {
                time: 1000 //2秒关闭（如果不配置，默认是3秒）
            });
            return false;
        }
        layer.confirm('确认要从黑名单中删除？', {
            btn: ['对滴','算了'] //按钮
        }, function(){
            $.ajax({
                type : 'post',
                url  : '/internal/outBlack/',
                data : {'id':id,'number':number},
                dataType : 'json',
                success : function (data){
                    if (data.code==1){
                        layer.msg('操作成功！', {
                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            window.location.reload();
                        });
                    }else{
                        layer.msg('操作失败，请重试。', {
                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                        });
                    }
                },
                error : function (data){
                    layer.msg('操作失败，请稍后重试。', {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            });
        });
    }
    function setBlack(id, number)
    {
        if ( $.trim(number) == '' || $.trim(id) == '' ){
            layer.msg('操作失败，请重试。', {
                time: 1000 //2秒关闭（如果不配置，默认是3秒）
            });
            return false;
        }
        layer.confirm('注意：如商品在销售中，会自动下架商品！！！', {
            btn: ['要得','算了'] //按钮
        }, function(){
            layer.prompt({
                formType: 2,
                value: '',
                maxlength: 100,
                title: '请输入添加黑名单的原因'
            }, function(value, index, elem){
                if ( $.trim(value) == ''){
                    layer.tips('请输入添加黑名单的原因',elem);
                    return false;
                }else{
                    _setBlack(id, number, value);
                }
            });
        });
        

    }
    function _setBlack(id, number, reason)
    {
        $.ajax({
            type : 'post',
            url  : '/internal/setBlack/',
            data : {'id':id,'number':number,'reason':reason},
            dataType : 'json',
            success : function (data){
                if (data.code==1){
                    layer.msg('操作成功！', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg('操作失败，请重试。', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            },
            error : function (data){
                layer.msg('操作失败，请稍后重试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    }

    function doUpDown(status, id)
    {
        if(status != 'up' && status != 'down'){
            return false;
        }
        if ( status == 'down' ){
            layer.prompt({
                formType: 2,
                value: '',
                maxlength: 100,
                title: '请输入下架原因'
            }, function(value, index, elem){
                if ( $.trim(value) == ''){
                    layer.tips('请输入下架原因',elem);
                    return false;
                }else{
                    _doDown(id, value);
                }
            });
        }else if (  status == 'up' ){
            layer.confirm('确认要上架吗？请确认相关数据已审核成功！', {
                btn: ['确认','取消'] //按钮
            }, function(){
                _doUp(id);
            });
        }else{
            return false;
        }
    }
    function _doDown(id, reason)
    {
        $.ajax({
            type : 'post',
            url  : '/internal/doDown/',
            data : {'id':id,'reason':reason},
            dataType : 'json',
            success : function (data){
                if (data.code==1){
                    layer.msg('操作成功！', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg('操作失败，请重试。', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        doUpDown('down', id);
                    });
                }
            },
            error : function (data){
                layer.msg('操作失败，请稍后重试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    }
    function _doUp(id)
    {
        $.ajax({
            type : 'post',
            url  : '/internal/doUp/',
            data : {'id':id},
            dataType : 'json',
            success : function (data){
                if (data.code==1){
                    layer.msg('操作成功！', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg('操作失败，请重试。', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        doUpDown('up', id);
                    });
                }
            },
            error : function (data){
                layer.msg('操作失败，请稍后重试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    }

</script>

<? require(ViewDir.'/footer.html'); ?>

