<? require(ViewDir.'/header.html');?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/import.css" />
	
<div class="im-wrap" id="loadForm">
	<div class="im-title borderBtmCd">
		<em><span class="im-title-span"><img src="<?=StaticDir?>1.2/images/u30.gif" alt="">关闭</span></em>
		<h1>创建推广链接 </h1>
	</div>
	<form id="modulelink" >
	<input type="hidden" name="moduleId" value="<?=$moduleId?>">
    <input type="hidden" name="lId" id="cId" value="<?=$lId?>">
    <br>
    <label>推广链接标题：</label>
    <input type="text" name="title" class="inpu form-control" id="title" value="<?=$link['title']?>" maxlength="8" />
    
    <div class="alert alert-warning" style="padding:4px;margin-bottom:10px;margin-top:10px;" role="alert">
    请输入推广链接标题最多不超过8个字符
    </div>

    <label>链接：</label>
    <input type="text" name="link" class="inpu form-control"  id="link" maxlength="100" value="<?=$link['link']?>" />
    
    <div class="alert alert-warning" style="padding:4px;margin-bottom:10px;margin-top:10px;" role="alert">
    请输入该广告链接，未输入链接则广告不可点击。
    </div>

    <label>是否着重显示：</label>
    <div>
        <select name="show" class="input">
            <option value='0' <?if($link['show'] == 0){echo "selected";}?>>普通</option>
            <option value='1' <?if($link['show'] == 1){echo "selected";}?>>红色</option>
            <option value='2' <?if($link['show'] == 2){echo "selected";}?>>蓝色</option>
            <option value='3' <?if($link['show'] == 3){echo "selected";}?>>橘色</option>
        </select>
    </div>

    <div style="bottom:10px;position: fixed;">
        <a href="javascript:void(0)" class="nexta" id="nextpt">确定创建</a>
        <a href="javascript:void(0)" class="cancela">取消</a>
    </div>
	</form>
</div>

<script type="text/javascript">
    $(function(){
        $(".im-title-span,.cancela,.closed").on("click",function(){
            parent.layer.closeAll();
        });
    });

	$('#nextpt').click(function(){
		opContact();
	})
	
	function opContact()
    {
		if($('#title').val() == ''){
			layer.msg('您还未输入标题');
			return false;
		}

        var data = $("#modulelink").serialize();
        $.ajax({
            type : 'post',
            url  : '/module/setLink/',
            data : data,
            dataType : 'json',
            success : function (data){
                if (data.code==1){
                    layer.msg('操作成功！', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        parent.window.location.reload();
                    });
                }else{
                    layer.msg(data.msg, {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            },
            error : function (data){
                layer.msg('操作失败，请稍后重试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    }
</script>

<? require(ViewDir.'/footer.html'); ?>

