<? require(ViewDir.'/header.html');?>

<link rel="stylesheet" href="<?=StaticDir?>1.2/css/details.css">

<div class="mj-infoM" style="width:99%">
<form name="addForm" id="addForm" >
    <label>页面选择：</label>
    <select name="type" class="input input-sm">
        <option value=" " >-请选择-</option>
    <? foreach ($seo_list as $k => $v) {?>
        <option value="<?=$k?>" ><?=$v['name']?></option>
    <? } ?>
    </select>
    <br/>

    <div style="bottom:10px;position: fixed;">
        <a href="javascript:void(0);" class="mj-liBtns" onclick="opContact();">确定</a>
        <a href="javascript:void(0);" class="mj-liBtns mj-abgcg" onclick="closeAll();">取消</a>
    </div>
    
</form>
</div>

<script type="text/javascript">
	$(function(){
		$(".mj-infoM").show();
	});

    function closeAll()
    {
        parent.layer.closeAll();
    }

    function opContact()
    {
        var data = $("#addForm").serialize();
        $.ajax({
            type : 'post',
            url  : 'seo/add',
            data : data,
            dataType : 'json',
            success : function (data){
                if (data.code==1){
                    layer.msg('操作成功！', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        parent.window.location = '/seo/edit/?id='+data.id;
                    });
                }else{
                    layer.msg(data.msg, {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            },
            error : function (data){
                layer.msg('操作失败，请稍后重试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    }

</script>

<? require(ViewDir.'/footer.html'); ?>

