<? require(ViewDir.'/header.html');?>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/main.css">
<script type="text/javascript" src="<?=StaticDir?>1.2/js/industry/edit.js"></script>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li>分类、群组设置</li>
    </ul>
    <!-- <span style="float:right;margin-right:20px;color:red;">在售商标总数：<?=$total ?></span> -->
</div>
<div class="wrap">
    <div class="wrap-content">
        <p class="text-left" style="float:left;padding-top:20px;">
            您可以在此为分类、群组设置对应的描述语言、标签以及权重排序
            <!--共有 <b class="red"><?=$allTotal?></b> 条数据，当前筛选结果 <b class="blue"><?=$total?></b> 条数据-->
        </p>

        <!--<div class="wrap-tittle">
            <button class="btn btn-danger" onclick="add();" type="button">创建新分类</button>
        </div>-->
        <div class="wrap-table">
            <table class="table table-hover" style="border: 1px solid #dadada;margin-bottom: 0">
                <thead>
                <tr class="active">
                    <!--<th><input type="checkbox" id="chkAll"></th>-->
                    <th>分类</th>
                    <th>分类名称</th>
                    <th>分类标题</th>
                    <th>包含群组条数</th>
                    <th>标签</th>
                    <th>操作/排序</th>
                </tr>
                </thead>
                <tbody class="table-list">
                <? foreach ($list as $k => $v) { ?>
                <tr>
                    <td>
                        <?=$v['number']?>类
                    </td>
                    <td>
                        <?=$v['name']?>
                    </td>
                    <td>
                        <?=$v['title']?>
                    </td>
                    <td>
                        <?=$v['counts']?>
                    </td>
                    <td>
                        <?=$v['label']?>
                    </td>
                    <td>
                        <span class="icon icon-editor">
                            <a href="/tmclass/edit/?id=<?=$v['id']?>" class="btn-info">编辑</a>
                        </span>
                        <span>
                            <img class="img" onclick="setClassSort(2,<?=$v['sort']?>,<?=$v['parent']?>)" src="/Static/1.2/images/u85.gif">
                        </span>
                        <span >
                            <img style="transform: rotate(180deg);"  onclick="setClassSort(1,<?=$v['sort']?>,<?=$v['parent']?>)" src="/Static/1.2/images/u85.gif">
                        </span>
                    </td>
                </tr>
                <? } ?>
                </tbody>
            </table>
        </div>
        <div id="page" align="center"><?=$pageBar?></div>
    </div>
</div>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/import.css"/>
<script src="<?=StaticDir?>1.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".mj-screening .btn").click(function () {
            $(".mj-ddList").toggle();
        });
        $(".mj-sBtn").click(function () {
            $("#saleSearchForm").submit();
        });
        //多选处理
        $('input[type="checkbox"]').click(function () {
            var strClass = '';
            var id = $(this).attr('tname');
            $('.' + id).each(function () {
                if ($(this).prop('checked')) {
                    strClass += "," + $(this).val();
                }
            })
            strClass = strClass ? strClass.substr(1) : '';
            $('#' + id).val(strClass);
        });
        $(".table tr td.showMore").hover(function () {
            $(this).parent('tr').find('.more > ul').show();
        }, function () {
            $(this).parent('tr').find('.more > ul').hide();
        });

        $('#chkAll').click(function () {
            $('.chklist').prop("checked", this.checked);
        });

        $(".im-title-span").on("click", function () {
            layer.closeAll('im-wrap');
        });

        //提交导出
        $('.nexta').click(function () {

            var str = '';
            $('.excelTable').each(function () {
                if ($(this).prop('checked')) {
                    str += "," + $(this).val();
                }
            })
            str = str ? str.substr(1) : '';
            $('#excelTable').val(str);
            $('#excelpost').submit();
            return false;
        })
    });

    //批量下架
    function setMoreDown() {
        var chkId = getChecked();
        if (chkId == '') {
            layer.msg('请选择至少一个商品', {
                time: 2000 //2秒关闭（如果不配置，默认是3秒）
            });
            return false;
        }
        layer.prompt({
            formType: 2,
            value: '',
            maxlength: 100,
            title: '请输入下架原因'
        }, function (value, index, elem) {
            if ($.trim(value) == '') {
                layer.tips('请输入下架原因', elem);
                return false;
            } else {
                $.ajax({
                    type: 'post',
                    url: '/internal/doDown/',
                    data: {'id': chkId, 'reason': value},
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 1) {
                            layer.msg('操作成功！', {
                                time: 1000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                window.location.reload();
                            });
                        } else {
                            layer.msg('操作失败！', {
                                time: 1000 //2秒关闭（如果不配置，默认是3秒）
                            });
                        }
                    },
                    error: function (data) {
                        layer.msg('操作失败，请稍后重试。', {
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        });
                    }
                });
            }
        });
    }

    function delMoreSale() {
        var chkId = getChecked();
        if (chkId == '') {
            layer.msg('请选择至少一个商品', {
                time: 2000 //2秒关闭（如果不配置，默认是3秒）
            });
            return false;
        }
        var url = '?id=' + chkId;
        layer.open({
            type: 2,
            title: false,
            closeBtn: false,
            area: ['520px', '400px'],

            content: '/internal/delete/' + url,
        });
        return false;
    }

    function getChecked() {
        var strId = '';
        $('.chklist').each(function () {
            if ($(this).prop('checked')) {
                strId += "," + $(this).val();
            }
        });
        strId = strId ? strId.substr(1) : '';
        return strId;
    }

    function add() {
        layer.open({
            type: 2,
            title: false,
            closeBtn: false,
            area: ['560px', '350px'],
            content: '/industry/create/'
        });
    }

    //批量导入商标
    function Import() {
        layer.open({
            type: 2,
            title: false,
            closeBtn: false,
            area: ['650px', '420px'],
            content: '/internal/import/'
        });
    }

    function reloadList() {
        window.location.reload();
    }

    //弹出群组数据
    $('#groupes').click(function () {
        var classes = $('#tmClass').val();
        //var oldclasses = $('#oldclasses').val();
        //if(oldclasses != classes){
        //	$(this).val('');
        //}
        if (classes) {
            //iframe层-父子操作
            layer.open({
                title: '选择群组',
                type: 2,
                area: ['570px', '420px'],
                fix: false, //不固定
                maxmin: true,
                content: '/internal/groups/?class=' + classes
            });
        }
        return false;
    })

    //导出弹出
    function download() {
        layer.open({
            type: 1,
            title: false,
            closeBtn: false,
            area: ['630px', '360px'],
            content: $('#download')
        });
    }
</script>

<? require(ViewDir.'/footer.html'); ?>