<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>交易站权限提示</title>
<style>
body {TEXT-ALIGN: left;background-color:#DDD; font-size:15px}
.error { MARGIN-RIGHT: auto; MARGIN-LEFT: auto;margin-left: auto; margin-top:10%;margin-right: auto; width:600px; height:400px; padding:10px}
</style>
</head>
<body>
<div class='error'>
<span style="display:inline-block; width:100%; height:30px;">对不起，你没有权限!</span>
<span style="display:inline-block; width:100%; height:30px;">你的账号可能已被禁用，请联系管理员</span>
<span style="display:inline-block; width:100%; height:30px;"><a href="/index">去登录</a></span>
</div>
</body>
</html>