<? require(ViewDir.'/header.html');?>

<link rel="stylesheet" href="<?=StaticDir?>1.2/css/blacklist.css">
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/main.css">

<script type="text/javascript" src="<?=StaticDir?>1.2/js/bootstrap.min.js"></script>

<style type="text/css">
    .banner-show {
        position:relative;
        max-width: 768px;
        max-height: 346px;
    }
    .info-pic {
        max-width: 200px;
        max-height: 100px;
    }
    .margin-sx-10 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .img-flip {
        position:absolute;
        width:16px;
        height:16px;
        -webkit-transform:rotate(180deg);
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    .z-index2000 {
        z-index: 2000;
    }
    .cg-pir{
        height: 30px;
        border: 1px solid #46b8da;
    }
</style>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li>首页</li>
        <li>站点管理</li>
        <li>频道页设置</li>
    </ul>
    <!-- <span style="float:right;margin-right:20px;color:red;">在售商标总数：<?=$total ?></span> -->
</div>

<div class="btn-group" style="margin-left:30px;">
   <button type="button" class="btn btn-default dropdown-toggle btn-lg"
      data-toggle="dropdown">
      <?if($info['id']==1){echo '筛选页';}elseif($info['id']==2){echo '特价页';}else{echo '频道页';}?> <span class="caret"></span>
   </button>
   <ul class="dropdown-menu z-index2000" role="menu">
      <li><a href="/channel/index/?id=1">筛选页</a></li>
      <li><a href="/channel/index/?id=2">特价页</a></li>
   </ul>
</div>
<? if( !empty($info) ) { ?>
<input type="hidden" id="cid" value="<?=$info['id']?>">
<div class="wrap">
    <div class="wrap-top">
        <h4>Banner设置
        </h4>
        <select name="isBanner" class="input selectChange">
            <option <?if($info['isBanner']==1){echo 'selected';}?> value="1">启用</option>
            <option <?if($info['isBanner']==2){echo 'selected';}?> value="2">禁用</option>
        </select>
        <span></span>
    </div>
    <div id="is-banner" >
        <img id="bzpic" class="banner-show" src="<?=$info['banner']?>" onerror="this.src='/Static/1.2/images/ztbanner.png'" />
        <div class="alert alert-warning margin-sx-10" style="padding:2px;" role="alert">
            广告图片建议尺寸为 ( 1920 ) x ( 864 )，文件最大不超过200kb，当前支持jpg,bmp,png格式文件
        </div>
        <span><label>ALT描述:</label> <input type="text" value="<?=$info['alt']?>" size="40"></span><br/>
        <button class="btn btn-danger" id="add-banner" type="button">上传背景图</button>
    </div>

    <br />
    <div class="wrap-top">
        <h4>广告图设置
        </h4>
        <select name="isAd" class="input selectChange">
            <option <?if($info['isAd']==1){echo 'selected';}?> value="1">启用</option>
            <option <?if($info['isAd']==2){echo 'selected';}?> value="2">禁用</option>
        </select>
        <span></span>
    </div>
    <div class="alert alert-warning" style="padding:2px;margin-bottom:10px;" role="alert">
        您可以在此管理频道页的广告图，最多可创建 5 条。
    </div>
    <div class="wrap-table" id="is-ad" >
        <table class="table table-hover" style="border: 1px solid #dadada;margin-bottom: 0">
            <thead>
                <tr class="active">
                    <th width="25%">广告图</th>
                    <th width="30%">链接</th>
                    <th width="25%">描述</th>
                    <th width="20%">操作</th>
                </tr>
            </thead>
            <tbody class="table-list">
            <? foreach ($info['items'][1] as $k => $v) { ?>
                <tr>
                    <td align="center" style="vertical-align:middle">
                    <img class="info-pic" src="<?=$v['pic']?>" /></td>
                    <td style="vertical-align:middle"><?=empty($v['link'])?'无':$v['link']?></td>
                    <td style="vertical-align:middle"><?=empty($v['desc'])?'无':$v['desc']?></td>
                    <td style="vertical-align:middle">
                        <span class="icon icon-delete">
                            <a href="javascript:;" onclick="cancel(<?=$v['id']?>)"  class="btn-warning">删除</a>
                        </span>
                        <span class="icon icon-editor">
                            <a href="javascript:void(0);" onclick="adEdit(<?=$v['id']?>)" class="btn-info">编辑</a>
                        </span>
                        &nbsp;&nbsp;
                        <!-- 向下  -->
                        <span onclick="orderChannel(<?=$v['id']?>, 1, 1,<?=$info['id']?>)">
                            <img class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                        </span>
                        &nbsp;
                        <!-- 向上  -->
                        <span class="img-flip"  onclick="orderChannel(<?=$v['id']?>, 2, 1, <?=$info['id']?>)">
                            <img class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                        </span>
                      </div>
                    </td>
                </tr>
            <? } ?>
            </tbody>
        </table>

        <div class="margin-sx-10">
            <button class="btn btn-danger" id="add-ad" type="button" <?if(count($info['items'][1])>=5){echo 'disabled="disabled"';}?> >创建广告图</button>
        </div>
    </div>
    <br/>
    
    <div class="wrap-top">
        <h4>精品特卖设置</h4>
        <span></span>
    </div>
    
    <div class="wrap-table" id="is-top" >
        <table class="table table-hover" style="border: 1px solid #dadada;margin-bottom: 0;width:800px;">
            <thead>
                <tr class="active">
                    <th width="20%">特卖时间</th>
                    <th width="20%">商标号</th>
                    <th width="20%">商品名称</th>
                    <th width="20%">商品分类</th>
                    <th width="20%">操作</th>
                </tr>
            </thead>
            <tbody class="table-list">
                <tr>
                    <td style="vertical-align:middle">当前特卖</td>
                    <td style="vertical-align:middle" class="numbers"><?=$info['items'][4][1]['pic']?></td>
                    <td style="vertical-align:middle"><?=$info['items'][4][1]['link']?></td>
                    <td style="vertical-align:middle"><?=$info['items'][4][1]['desc']?>类</td>
                    <td style="vertical-align:middle" class="updates">
                        <span class="icon icon-editor">
                            <a href="javascript:void(0);" data-number="<?=$info['items'][4][1]['pic']?>" class="btn-info revise">编辑</a>
                            <a href="javascript:void(0);" data-number="<?=$info['items'][4][1]['pic']?>" ></a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:middle">即将开始</td>
                    <td style="vertical-align:middle"><?=$info['items'][4][2]['pic']?></td>
                    <td style="vertical-align:middle"><?=$info['items'][4][2]['link']?></td>
                    <td style="vertical-align:middle"><?=$info['items'][4][2]['desc']?>类</td>
                    <td style="vertical-align:middle">
                        <span class="icon icon-editor">
                            <a href="javascript:void(0);" onclick="adEdit(<?=$info['items'][4][2]['pic']?>)" class="btn-info">编辑</a>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div class="wrap-top">
        <h4>天天低价设置</h4>
        <font style="color: #666666">(为保证页面效果，请保持商品条数为4的倍数)</font>
        
<!--        <select name="isTop" class="input selectChange">
            <option <?if($info['isTop']==1){echo 'selected';}?> value="1">启用</option>
            <option <?if($info['isTop']==2){echo 'selected';}?> value="2">禁用</option>
        </select>-->
        <span></span>
    </div>
    
    <div class="wrap-table" id="is-top" >
        <table class="table table-hover" style="border: 1px solid #dadada;margin-bottom: 0;width:800px;">
            <thead>
                <tr class="active">
                    <th width="25%">商标号</th>
                    <th width="25%">商品名称</th>
                    <th width="25%">商品分类</th>
                    <th width="25%">操作</th>
                </tr>
            </thead>
            <tbody class="table-list">
            <? foreach ($info['items'][3] as $k => $v) { ?>
                <tr>
                    <td style="vertical-align:middle"><?=$v['pic']?></td>
                    <td style="vertical-align:middle"><?=$v['link']?></td>
                    <td style="vertical-align:middle"><?=$v['desc']?>类</td>
                    <td style="vertical-align:middle">
                        <span class="icon icon-delete">
                            <a href="javascript:;" onclick="cancel(<?=$v['id']?>)"  class="btn-warning">删除</a>
                        </span>
                        &nbsp;&nbsp;
                        <span onclick="orderChannel(<?=$v['id']?>, 1, 2, <?=$info['id']?>)">
                            <img class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                        </span>
                        &nbsp;
                        <span class="img-flip" onclick="orderChannel(<?=$v['id']?>, 2, 2, <?=$info['id']?>)">
                            <img class="img" src="<?=StaticDir?>1.2/images/u85.gif">
                        </span>
                    </td>
                </tr>
            <? } ?>
            </tbody>
        </table>
        <div class="margin-sx-10">
            <button class="btn btn-danger" id="add-top" type="button">添加天天低价</button>
        </div>
    </div>
    <br>
</div>
<? } ?>

<script type="text/javascript">
$(function(){
        
        $(".selectChange").change(function(){
            var _this   = $(this);
            var _model  = this.options[this.options.selectedIndex].value;
            var _name   = _this.attr('name');
            var id      = $.trim($("#cid").val());
            if ( id == '' ) return false;
            layer.confirm('确定要修改吗？<br>注意：修改后，前台显示可能会有一定延迟。',
            {btn: ['好的','算了'],  scrollbar: false}, 
            function(index){
                $.ajax({
                    type : 'post',
                    url  : '/channel/setUse/',
                    data : {model:_model, name:_name, id:id},
                    dataType : 'json',
                    success : function (data){
                        if (data.code==1){
                            layer.msg('操作成功', {
                                time: 1000 //2秒关闭（如果不配置，默认是3秒）
                            }, function(){
                                window.location.reload();
                            });
                        }else{
                            layer.msg(data.msg, {
                                time: 1000 //2秒关闭（如果不配置，默认是3秒）
                            });
                        }
                    },
                    error : function (data){
                        layer.msg('操作失败，请稍后重试。', {
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        });
                    }
                });
            }, 
            function(index){
                window.location.href=window.location.href;
            });
        });

        $("#add-banner").click(function(){
            var id = $.trim($("#cid").val());
            if ( id == '' ) return false;
            layer.open({
                type: 2,
                scrollbar: false,
                title: '上传背景图',
                area: ['650px', '350px'],

                content: '/channel/addBannber/?id='+id
            });
        });

        $("#add-ad").click(function(){
            var id = $.trim($("#cid").val());
            if ( id == '' ) return false;
            layer.open({
                type: 2,
                scrollbar: false,
                title: '创建广告图',
                area: ['650px', '480px'],

                content: '/channel/addAd/?id='+id
            });
        });

        $("#add-top").click(function(){
            var id = $.trim($("#cid").val());
            if ( id == '' ) return false;
            layer.open({
                type: 2,
                scrollbar: false,
                title: '创建置项商品',
                area: ['650px', '400px'],

                content: '/channel/addTop/?id='+id
            });
        });
    });

    function orderChannel(id, updown, type, cId)
    {
        if ( id == '' || updown == '' || cId == '' ) return false;
        $.ajax({
            type : 'post',
            url  : '/channel/orderChannel/',
            data : {id:id,updown:updown,type:type,cId:cId},
            dataType : 'json',
            success : function (data){
                if (data.code==1){
                    layer.msg('操作成功', {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg(data.msg, {
                        time: 1000 //2秒关闭（如果不配置，默认是3秒）
                    });
                }
            },
            error : function (data){
                layer.msg('操作失败，请稍后重试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    }

    function adEdit(id)
    {
        if ( id == '' || id == 0 ) return false;
        layer.open({
            type: 2,
            scrollbar: false,
            title: '修改广告图',
            area: ['650px', '480px'],

            content: '/channel/editAd/?id='+id
        });
    }

    function cancel(id)
    {
        if ( id == '' || id == 0 ) return false;
            layer.confirm('确定要删除吗？', {
            btn: ['是的','算了'], //按钮
            scrollbar: false,
        }, function(){
            $.ajax({
                type : 'post',
                url  : '/channel/delChannel/',
                data : {id:id},
                dataType : 'json',
                success : function (data){
                    if (data.code==1){
                        layer.msg('操作成功', {
                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            window.location.reload();
                        });
                    }else{
                        var msg = data.msg == undefined ? '操作失败' : data.msg;
                        layer.msg(msg);
                    }
                },
                error : function (data){
                    layer.msg('操作失败，请稍后重试。');
                }
            });
        });
    }
    
    //精品特卖点击编辑
    $('.table-list').on('click', '.revise', function() {
        var number = $(this).data("number");
        $(this).html('确定');
        $(this).siblings("a").html('取消');
        $(this).siblings("a").addClass("btn btn-info qx");
        $(this).addClass("btn btn-danger srue");
        $(this).removeClass("revise");
        $(this).parent().parent().parent().find(".numbers").html('<input type="text" class="cg-pir n-'+number+'" value="'+number+'" />');

    });
    
    //精品特卖设置确定修改商标号
    $('.table-list').on('click', '.srue', function() {
    var obj = $(this);
    var number = obj.data("number");
    var price = $(".n-"+number).val();
    if(price==number){
        return false;
    }
    
    $.ajax({
                type : 'post',
                url  : '/channel/setGoodsSale/',
                data: "old_number="+number+"&number="+price+"&cId=2&type=4",
                dataType : 'json',
                success : function (data){
                    if (data.code==1){
                        layer.msg('操作成功！', {
                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                        }, function(){
                            obj.parent().parent().parent().find(".numbers").html(price);
                            obj.siblings("a").html('');
                            obj.siblings("a").removeClass("btn btn-info qx");
                            obj.addClass("revise");
                            obj.html('编辑');
                            obj.removeClass("btn btn-danger srue");
                        });
                    }else{
                        layer.msg(data.msg, {
                            time: 1000 //2秒关闭（如果不配置，默认是3秒）
                        });
                    }
                },
                error : function (data){
                    layer.msg('操作失败，请稍后重试。', {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    },function(){ _this.attr('disabled', false) });
                }
        });
    
   // ajaxsubmit("updatePrice",number,price,0,0);
});

//取消
$('.table-list .updates').on('click', '.qx', function() {
    var number = $(this).data("number");
    $(this).parent().parent().parent().find(".numbers").html(number);
    $(this).html('');
    $(this).removeClass("btn btn-info qx");
    $(this).siblings("a").addClass("revise");
    $(this).siblings("a").html('编辑');
    $(this).siblings("a").removeClass("btn btn-danger srue");
});
</script>

<? require(ViewDir.'/footer.html'); ?>