<? require(ViewDir.'/header.html');?>

<link rel="stylesheet" href="<?=StaticDir?>1.2/css/main.css">

<div class="mj-glM">
    <span class="ms-close mj-close"></span>
    <h5>创建商品</h5>
    <div class="mj-glC">
        <div class="mj-glT">
            <span class="on">查询需要创建的专利</span>
            <label></label>
            <span>编辑商品详情</span>
            <label></label>
            <span>创建成功</span>
        </div>
        <div class="mj-inp">
            <p>你需要输入一个专利号来查询专利</p>
            <input type="text" id="searchNumber" />
            <span id="searchInfo" style="display:none;"></span>
            <div style="text-align:center"> <a class="mj-sBtn" id="addBtn" href="javascript:void(0);" style="display:none;margin:0 auto;" onclick="_addGoods('yes');" >创建商品</a></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var _tmBlack    = '该专利位于黑名单内，请先解除黑名单限制 <a href="javascript:void(0);" onClick="_outBlack();">解除黑名单</a>';
    var _tmEdit     = '该专利已有对应专利 ';
    var _tmNull     = '无该专利，请验证后输入';
    var _tmWuxiao   = '该专利号已失效';
    $(function(){
        $(".mj-glM").show();
        $(".mj-close").on("click",function(){
            parent.layer.closeAll();
        });
        $("#searchNumber").blur(function(){
            _addGoods();
        });
    });
    function _addGoods(yes)
    {
        var add = 0;
        if ( yes == 'yes') {
            add = 1;
        }
        $("#addBtn").hide();
        var _value  = $.trim( $("#searchNumber").val() );
        var _info   = $("#searchInfo");
        _info.hide();
        if ( _value == '' ){
            _info.text('请输入专利号');
            _info.show();
        }
        $.ajax({
            type : 'post',
            url  : '/patent/checkNumber/',
            data : {'number':_value, 'add':add},
            dataType : 'json',
            success : function (data){
                if (data.code==1){
                    _info.text('添加成功');
                    _info.show();
                    setTimeout(function(){
                        parent.window.location = '/patent/edit/?id='+data.id;
                    },1000);
                }if (data.code==-1){
                    _info.text('商品可创建，请点击 创建商品 并进行其他编辑。');
                    _info.show();
                    $("#addBtn").show();
                }else if (data.code==2){//存在商品
                    var _edit_ = '<a href="/patent/edit/?id='+data.id+'" target="rightFrame">点击进入编辑</a>';
                    _info.html(_tmEdit+_edit_);
                    _info.show();
                }else if (data.code==4){//无该专利
                    _info.text(_tmNull);
                    _info.show();
                }else if (data.code==6){//专利号为空
                    _info.text('请输入专利号');
                    _info.show();
                }else if (data.code==0){//未创建成功
                    _info.show();
                    _info.text('操作失败');
                }
            },
            error : function (data){
                layer.msg('操作失败，请稍后重试。', {
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                });
            }
        });
    }
</script>

<? require(ViewDir.'/footer.html'); ?>

