<? require(ViewDir.'/header.html');?>
<script type="text/javascript" src="<?=StaticDir?>js/laydate/laydate.js"></script>
<script charset="utf-8" src="<?=StaticDir?>/editor/kindeditor.js"></script>
<script charset="utf-8" src="<?=StaticDir?>/editor/lang/zh_CN.js"></script>
<link rel="stylesheet" href="<?=StaticDir?>css/details.css">
<script>
        KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
		
		 KindEditor.ready(function(K) {
                window.editor1 = K.create('#editor_id1');
        });
</script>

<div class="wrap">
    <div class="wrap-top">
        <h4>商品详情</h4><span></span>
    </div>
    <div class="mj-ztBar f-clearfix">
        <div class="mj-ztBl">
            <span>商品状态</span>
            <em class="blue">销售中</em>
            <a href="javascript:void(0);">下架</a>
        </div>
        <a href="javascript:void(0);" class="mj-ztBr">加入黑名单</a>
    </div>
    <div class="mj-detaImg">
        <div class="mj-deiT">
            <span>商标基本信息</span>
            <a href="">去商标管家查看详细信息）</a>
        </div>
        <div class="mj-deiB f-clearfix">
            <label><img src="images/mj-img2.jpg" alt=""/></label>
            <table>
                <tbody>
                <tr>
                    <td>商标名称：哈哈哈...</td>
                    <td>商标号：22222222</td>
                    <td>申请人：张xxx</td>
                    <td>商标状态：注册中</td>
                </tr>
                <tr>
                    <td>区    域：国内</td>
                    <td>有效期至：2015-15-15</td>
                    <td colspan="2">类别：25类、25类、25类、25类、25类、25类、25类、25类、25类</td>
                </tr>
                <tr>
                    <td colspan="4">使用商品：群组名、群组名、群组名、群组名、群组名、群组名、群组名、群组名</td>
                </tr>
                <tr>
                    <td colspan="4">群    组：群组名、群组名、群组名、群组名、群组名、群组名、群组名、群组名、群组名、群组名</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="mj-sellT">
        <table>
            <thead>
            <tr>
                <td colspan="10">出售信息</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>序号</td>
                <td>出售时间</td>
                <td>来源渠道</td>
                <td>联系人</td>
                <td>联系电话</td>
                <td>底价(元)</td>
                <td>顾问部门</td>
                <td>顾问</td>
                <td>出售价格审核</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>1</td>
                <td>2015-9-15</td>
                <td>交易平台</td>
                <td><label class="mj-laTipa">认</label> 李四</td>
                <td>13800003333</td>
                <td>20000</td>
                <td>市场一部</td>
                <td>万野</td>
                <td><em class="blue">已审核</em></td>
                <td>
                    <a href="">删除</a>
                    <a href="">编辑</a>
                    <a href="">生成报价</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="mj-deiBlist">
        <div class="mj-deiBtns">
            <a href="javascript:void(0);" id="mj-deib">新增出售信息</a>
        </div>
        <table class="mj-table">
            <thead>
            <tr>
                <td>出售信息</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="checkbox" id="tdi1"/>
                    <label for="tdi1">可出售</label>

                    <label class="mj-lefts">可出售：</label>
                    <select>
                        <option>定价销售</option>
                        <option>议价销售</option>
                    </select>
                </td>

            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="tdi2"/>
                    <label for="tdi2">可授权</label>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="mj-deiBtns">
            <a href="javascript:void(0);">确定价格信息</a>
            <a href="javascript:void(0);" class="mj-abgcg">取消</a>
        </div>
        <div class="mj-thBar">
            <div class="mj-thbT">
                <input type="checkbox" id="thb"/>
                <label for="thb">商品包装信息</label>
            </div>
            <dl>
                <dd>
                    <label>商标类型：</label>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="le1"/>
                        <label for="le1">中文</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="le2"/>
                        <label for="le2">英文</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="le3"/>
                        <label for="le3">图形</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="le4"/>
                        <label for="le4">中+英</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="le5"/>
                        <label for="le5">中+图</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="le6"/>
                        <label for="le6">英+图</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="le7"/>
                        <label for="le7">中+英+图</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="le8"/>
                        <label for="le8">数字</label>
                    </div>
                </dd>
                <dd>
                    <label>商标数字：</label>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="va1"/>
                        <label for="va1">一个字母或中文</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="va2"/>
                        <label for="va2">两个字母或中文</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="va3"/>
                        <label for="va3">三个字母或中文</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="va4"/>
                        <label for="va4">四个字母或中文</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="va5"/>
                        <label for="va5">五个字母或中文</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="va6"/>
                        <label for="va6">五个以上字母或中文</label>
                    </div>
                </dd>
                <dd>
                    <label>商标标签：</label>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="bq1"/>
                        <label for="bq1">精品</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="bq2"/>
                        <label for="bq2">特价</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="bq3"/>
                        <label for="bq3">潜力</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="bq4"/>
                        <label for="bq4">特色</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="bq5"/>
                        <label for="bq5">紧急</label>
                    </div>
                </dd>
                <dd>
                    <label>平台入驻：</label>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="pt0"/>
                        <label for="pt0">自营</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="pt1"/>
                        <label for="pt1">天猫</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="pt2"/>
                        <label for="pt2">京东</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="pt3"/>
                        <label for="pt3">亚马逊</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="pt4"/>
                        <label for="pt4">1号店</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="pt5"/>
                        <label for="pt5">美丽说</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="pt6"/>
                        <label for="pt6">聚美优品</label>
                    </div>
                    <div class="mj-checkbox">
                        <input type="checkbox" id="pt7"/>
                        <label for="pt7">大型超市</label>
                    </div>
                </dd>
                <dd><label>价值分析：</label><textarea placeholder="请用一句话表达，限100个汉字内"></textarea></dd>
                <dd><label>商标介绍：</label><textarea></textarea></dd>
                <dd>
                    <label>展示电话：</label>
                    <select>
                        <option>13412121451</option>
                        <option>13412121451</option>
                        <option>13412121451</option>
                    </select>
                </dd>
            </dl>
        </div>
        <div class="mj-becen">
            <p>备注</p>
            <div class="mj-sr">
                <textarea></textarea>
            </div>
        </div>
    </div>
    <div class="mj-deiBtns">
        <a href="javascript:void(0);">确定价格信息</a>
        <a href="javascript:void(0);" class="mj-abgcg">取消</a>
    </div>
    <table class="mj-tables">
        <tbody>
        <tr>
            <td>操作记录</td>
        </tr>
        <tr>
            <td>用户 张朝阳 于 2015-12-15 13：25 提交了商品</td>
        </tr>
        <tr>
            <td>用户 张朝阳 于 2015-12-15 13：25 提交了商品</td>
        </tr>
        <tr>
            <td>用户 张朝阳 于 2015-12-15 13：25 提交了商品</td>
        </tr>
        </tbody>
    </table>
</div>
<!--出售信息弹层-->
<div class="mj-infoM">
    <span class="ms-close mj-close"></span>
    <ul>
        <li><label>序号：</label><em>1</em></li>
        <li><label>出售时间：</label><em>2015-9-15</em></li>
        <li><label>选择渠道：</label>
            <select>
                <option>选择渠道</option>
                <option>选择渠道</option>
            </select>
        </li>
        <li><label>联系人姓名：</label><input type="text"/></li>
        <li><label>联系电话：</label><input type="text"/></li>
        <li><label>底价：</label><input type="text"/></li>
        <li><label>顾问部门：</label><input type="text"/></li>
        <li><label>顾问：</label><input type="text"/></li>
        <li><label>出售价格审核：</label><em>审核</em></li>
        <li><label>操作：</label>
            <a href="javascript:void(0);" class="mj-liBtns">确定</a>
            <a href="javascript:void(0);" class="mj-liBtns mj-abgcg">取消</a>
        </li>
    </ul>
</div>



<script type="text/javascript">
    $(function(){
        $("#mj-deib").click(function(){
            layer.open({
                type: 1,
                title: false,
                scrollbar: false,
                closeBtn: false,
                skin: 'yourclass',

                content: $('.mj-infoM')
            });
            $(".mj-close").bind("click",function(){
                layer.closeAll();
            });
        });
    });
</script>

<? require(ViewDir.'/footer.html'); ?>

