<? require(ViewDir.'/header.html');?>
<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/highcharts-3d.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>
<link rel="stylesheet" href="<?=StaticDir?>1.2/css/main.css">
<script type="text/javascript">
$(function () {
    // Set up the chart
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'column',
            options3d: {
                enabled: true,
                alpha: 20,
                beta: -4,
                depth: 52,
                viewDistance: 25
            }
        },
        title: {
            text: '模块数据柱形走势图'
        },
        plotOptions: {
            column: {
                depth: 26
            }
        },
		xAxis: {
            categories: <?=$data['date']?>
        },
        series: [{
            data: [<?=$data['page_count']?>]
        }]
    });

});
</script>
<style>
    td{border: 1px solid #dadada;}
    #container {
    height: 500px; 
    width:1000px;
}
.mj-screening .bt{
    background-color:  #FFF;
    color: #000;
    border: 1px solid #CCC;
    width:50px;
    padding: 0px;
    margin: -5px;
}
.mj-screening .on_bt{
    background-color:  #000;
    color: #FFF;
    border: 1px solid #CCC;
    width:50px;
    padding: 0px;
    margin: -5px;
}
</style>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li>首页</li>
        <li>数据分析</li>
        <li>模块走势图</li>
    </ul>
</div>
<div class="wrap">
    <div class="mj-screening">
        <div class="mj-seT f-clearfix">
            <span>模块走势图</span>
        </div>
        <form name="visitlogForm" id="visitlogForm" action="/visitlog/trendChart/" method="GET">
        <dl>
            <dd>
               <label> 我要统计从：</label>
               <label>页面：</label>
                <select name="pages" class="input input-sm" id="pages">
                    <option value="0">--请选择--</option>
                <? foreach ($url_array as $k => $v) {?>
                    <option value="<?=$k?>" <?if($s['pages']==$k){echo 'selected';} ?>><?=$v['title']?></option>
                <? } ?>
                </select>
                <label> 模块：</label>
                <select name="page_module" class="input input-sm" id="page_module">
                    <option value="0">--全部模块--</option>
                    <? foreach ($url_array[$s['pages']]['view'] as $k => $v) {?>
                        <option value="<?=$k?>" <?if($s['page_module']==$k){echo 'selected';} ?>><?=$v['title']?></option>
                    <? } ?>
                </select>
               
               <input type="text" name="dateStart" value="<?=$s['dateStart']?>" class="input input-sm" readonly onclick="laydate()" /> 
                <label>&nbsp;&nbsp;至&nbsp;&nbsp;</label> <input type="text" name="dateEnd" value="<?=$s['dateEnd']?>" class="input input-sm" readonly onclick="laydate()" />
                
                <a href="javascript:void(0);" class="mj-sBtn mj-sBtn-search" style="display:inline-block;margin-left:50px;">搜索</a>
            </dd>
        </dl>
            <dl>
                <dd>
                    <input type="button" value="年"  data-date="3" <?if($s['dates']==3){echo 'class="on_bt"';}else{echo 'class="bt"';} if($s['year']==0){echo 'disabled="disabled"';}?>>
                    <input type="button" value="月"  data-date="2" <?if($s['dates']==2){echo 'class="on_bt"';}else{echo 'class="bt"';} if($s['month']==0){echo 'disabled="disabled"';}?>>
                    <input type="button" value="日"  data-date="1" <?if($s['dates']==1){echo 'class="on_bt"';}else{echo 'class="bt"';} ?>>
                </dd>
                <input type="hidden" value="1" id="dates" name="dates">
            </dl>
        </form>
    </div>
    <div class="wrap-content">
		<br>
        <div class="wrap-table">
            <div id="container"></div>
        </div>
    </div>
</div>
<script src="<?=StaticDir?>1.2/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function(){
        var page_url = new Array();
        page_url = '<?=$url_json?>';
        page_url = eval("("+page_url+")");
        
        //提交按钮
        $(".mj-sBtn").click(function(){
            if($("#pages").val()==0){
                layer.msg('您还未选择需要统计的页面或模块', {
					time: 2000 //2秒关闭（如果不配置，默认是3秒）
				});
                return false;
            }
            
            var index = layer.load(1, {
                    shade: [0.5,'#fff'] //0.1透明度的白色背景
            });
            $("#visitlogForm").submit();
        });
        
        $("input[type=button]").click(function(){
			var index = layer.load(1, {
				shade: [0.5,'#fff'] //0.1透明度的白色背景
			});
                        $("#dates").val($(this).data("date"));
            $("#visitlogForm").submit();
        });
        //选择页面
        $("#pages").change(function(){
            var id = $(this).val();
            if(id===0) return;
            var str="<option value='0'>--全部模块--</option>";
            $.each(page_url[id]['view'],function(key,val){
                if((key==30 || key==31) && id!=11 && id!=4){
                    return;
                }
                str+="<option value='"+key+"'>"+val.title+"</option>";
            });
             
            //console.log(dataObj[id]);
            $("#page_module").html(str);
        });
    });
    </script>
<? require(ViewDir.'/footer.html'); ?>