<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="<?=StaticDir?>1.2/css/bootstrap.min.css?v=<?=$static_version?>">
    <link rel="stylesheet" href="<?=StaticDir?>1.2/css/import-comm.css?v=<?=$static_version?>">
    <link rel="stylesheet" href="<?=StaticDir?>1.2/css/title.css?v=<?=$static_version?>">
    <script type="text/javascript" src="<?=StaticDir?>js/jquery.min.js"></script>
    <script type="text/javascript" src="<?=StaticDir?>js/jquery.form.js"></script>
    <script type="text/javascript" src="<?=StaticDir?>js/laydate/laydate.js"></script>
    <script type="text/javascript" src="<?=StaticDir?>1.2/js/layer/layer.js"></script>
    <script type="text/javascript">
        $(function(){
            layer.config({
                extend: 'extend/layer.ext.js'
            }); 
        });
    </script>
</head>
<body>