<? require(ViewDir.'/header.html');?>

<link rel="stylesheet" href="<?=StaticDir?>1.2/css/main.css">
<script type="text/javascript" src="<?=StaticDir?>1.2/js/industry/edit.js"></script>

<div class="mj-glM">
    <span class="ms-close mj-close"></span>
    <h5>编辑广告图</h5>
    <form id="addPicForm">
    <div class="mj-glC">
        <div  class="mj-inp">
            <input type="hidden" name="bzpic" class="bzpic" value="<?=$pinfo['pic']?>" />
            <input type="hidden" name="industryId"  value="<?=$industryId?>" />
            <input type="hidden" name="id"  value="<?=$pinfo['id']?>" />
            <div class="bzform">
            <label>广告图：</label><img src="<?=$pinfo['pic']?>" class="bzpic" style="width:80px;height:80px;">
            <input type="file" id="bzfile" name="fileName" style="display: inline-block;"/>
                <br/><p>注：图片建议尺寸为 ( 20 ) x ( 20 )，文件最大不超过50kb</p>
            </div>
            <label>图片链接：</label><input type="text" id="link" name="link" value="<?=$pinfo['link']?>"/>
            <br/><p>请输入该广告链接，未输入链接则该图片不可点击。</p>
            </br>
             &nbsp;&nbsp;&nbsp;&nbsp;
            <span id="searchInfo"></span>
            <div style="text-align:center">
                <a class="mj-sBtn" id="addBtn" href="javascript:void(0);" style="margin:0 auto;" onclick="addindustryPic();" >创建广告图</a></div>
        </div>
    </div>
    </form>
</div>

<script type="text/javascript">
    $(function(){
        $(".mj-glM").show();
        $(".mj-close").on("click",function(){
            parent.layer.closeAll();
        });
        $(".bzform").wrap("<form id='bzformupload' action='/industry/ajaxUploadPic/' method='post' enctype='multipart/form-data'></form>");
        $("#bzfile").on('change', function(){
            $("#bzformupload").ajaxSubmit({
                dataType:  'json',
                success: function(data) {
                    if (data.code == 1){
                        $('.bzpic').val(data.img);
                        $('.bzpic').attr('src', data.img);
                        //$('#imageurl').css('visibility', 'visible');
                    }else{
                        alert(data.msg);
                    }
                },
                error:function(xhr){
                    alert('图片格式不正确或图片过大，请重新上传！');
                }
            });
        });
    });
</script>

<? require(ViewDir.'/footer.html'); ?>

