/*│ ＼╭╭╭╭╭／│*/
/*┃　　　　　　　┃*/
/*┃　　　━　　　┃*/
/*┃　┳┛　┗┳　┃*/
/*┃　　　　　　　┃*/
/*┃　≡╰┬┬┬╯≡　┃*/
/*┃　　　　　　　┃*/
/*┗━┓　　　┏━┛*/
/*　　┃　　　┃*/
/*　　┃　　　┃*/
/*　　┃　　　┗━━━┓*/
/*　　┃　　　　　　　┣━━━━┓*/
/*　　┃　　　　　　　┏━━━━┛*/
/*　　┗┓┓┏━┳┓┏┛*/
/*　　　┃┫┫　┃┫┫*/
/*　　　┗┻┛　┗┻┛*/
/*神兽保佑代码无BUG*/
/* ----------------------------------------------
	@作者: Summer  2015-9-16
    @版权所有
 ------------------------------------------------ */

/* ms-header */
.ms-logo{
    float: left;
    padding: 15px 0;
}
.ms-nav{
    margin: 0;
    padding: 21.5px 0 21.5px 55px;
    list-style: none;
    float: left;
}
.ms-nav li{
    width: 95px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #222222;
    font-size: 15px;
    float: left;
    border-radius: 4px;
    margin: 0 5px;
}
.ms-nav li a{
    color: #222222;
    text-decoration: none;
}
.ms-nav li a:hover{
    color: #fc7d28;
}
.ms-nav .cur{
    background: #fc7d28;
}
.ms-nav .cur a{
    color: #ffffff;
}
.ms-loginBar{
    float: right;
    text-align: right;
}
.ms-link{
    margin: 0;
    padding: 0;
    color: #dddddd;
    line-height: 35px;
}
.ms-link a{
    text-decoration: none;
    color: #999999;
    display: inline-block;
    vertical-align: middle;
}
.ms-link a:hover{ color:#f60; text-decoration:underline}

/* ms-banner  */
.ms-banner{
    position: relative;
    height: 590px;
    overflow: hidden;
}
.ms-banner-num{
    position: absolute;
    bottom: 5px; 
    left: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
}
.ms-banner-num i{
    display: inline-block;
    width: 11px;
    height: 3px;
    background: #ccbccc;
    margin-left: 5px;
}
.ms-banner-num .ms-banner-numCur{
    background: #db722d;
}
.ms-banner-img{
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.ms-banner-img .ms-banner-itme{
    float: left;
}
.ms-banner-img .ms-banner-itme,
.ms-banner-img .ms-banner-itme a{
    display: block;
    width: 100%;
    height: 590px;
}

/* .ms-form */
.ms-from{
    position: relative;
    z-index: 2;
    padding-top: 90px;
}
.ms-from form{
    float: right;
    width: 280px;
    padding: 15px 35px 15px;
    background: #dcd9e4;
    border-radius: 4px;
}
.ms-from-title{
    margin: 0 0 30px 0;
    padding: 0;
    height: 30px;
    border-bottom: 1px solid #aeaeae;
    text-align: center;
    position: relative;
    font-weight: normal;
}
.ms-from-title span{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #444444;
    font-size: 21px;
    padding: 0 12px;
    background: #dcd9e4;
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -96px;
}
.ms-form-wrapper{
    height: 38px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 0 10px;
    margin-bottom: 10px;
}
.ms-form-wrapper select{
    width: 230px;
    margin: 8.5px 0;
}
.ms-form-wrapper select,
.ms-form-wrapper input[type="text"]{
    border: 0 none;
    font-size: 14px;
    color: #989898;
    outline: none;
    vertical-align: middle;
    margin-left: 5px;
    font-family: "微软雅黑";
}
.ms-form-wrapper input[type="text"]{
    height: 38px;
    line-height: 38px\9;
    padding: 0;
    width: 225px;
    vertical-align: middle;
    *margin-top: -1px;
}
.ms-form-span{
    margin-bottom: 10px;
    color: #888888;
    font-size: 14px;
}
.ms-form-span em{
    font-style: normal;
    float: left;
    width: 40px;
    line-height: 40px;
    text-align: center;
}
.ms-form-span span{
    float: left;
    padding: 0 10px;
    width: 98px;
    height: 38px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: #ffffff;
    vertical-align: middle;
}
.ms-form-span input{
    height: 38px;
    line-height: 38px\9;
    width: 72px;
    padding: 0 10px 0 0;
    border: 0 none;
    outline: none;
    vertical-align: middle;
    *margin-top: -1px;
    font-family: "微软雅黑";
}
.ms-from-btn{
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    background: #fc7d28;
    border-radius: 4px;
}
.ms-from-txt{
    margin: 10px 0 0 0;
    line-height: 25px;
    text-align: center;
    color: #888888;
}


/* ms-column */
.ms-column{
    background: #f9f8f8;
    height: 25px;
    padding: 15px 0;
    border-bottom: 1px solid #ebebeb;
}
.ms-noticeList,
.ms-dealList{
    margin: 0;
    padding: 0;
}
.ms-noticeList{
    float: left;
}
.ms-dealList{
    float: right;
}
.ms-noticeList dt,
.ms-dealList dt{
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-right: 15px;
    font-size: 14px;
    vertical-align: middle;
	line-height:32px;
}
.ms-noticeList dt{
    height: 23px;
    line-height: 23px;
    border: 1px solid #fc7d28;
    color: #fc7d28;
    padding: 0 10px;
}
.ms-dealList dt{
    color: #444444;
}
.ms-noticeList dd,
.ms-dealList dd{
    margin: 0;
    padding: 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}
.ms-noticeList ul,
.ms-dealList ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.ms-noticeList dd a,
.ms-dealList dd a{
    text-decoration: none;
    color: #666666;
}
.ms-noticeList dd a:hover,
.ms-dealList dd a:hover{
    color: #fc7d28;
}

/* ms-navTop */
.ms-navTop{
    background: #ffffff;
    border-bottom: 1px solid #dcdcdc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    display: none;
}
.ms-navTop ul{
    padding: 0;
    list-style: none;
    width: 1100px;
    margin: 0 auto;
}
.ms-navTop li{
    float: left;
    width: 333px;
    height: 60px;
    margin-left: -1px;
    text-align: center;
    border-left: 1px solid #dcdcdc;
}
.ms-navTop a{
    text-decoration: none;
}
.ms-navTop .current span,
.ms-navTop a:hover span{
    color: #fc7d28;
}
.ms-navTop span{
    display: block;
    font-size: 20px;
    color: #444444;
    padding-top: 10px;
    line-height: 25px;
}
.ms-navTop em{
    font-style: normal;
    display: block;
    line-height: 25px;
    color: #999999;
}

/* ms-imgList */
.ms-imgList{
    margin: 0 0 50px 0;
    padding: 0;
}
/* ms-imgList dt */
.ms-imgList dt{
    float: left;
    width: 168px;
    padding: 30px 21px;
    height: 327px;
}
.ms-imgList dt h6,
.ms-imgList dt p{
    margin: 0;
    padding: 0;
}
.ms-imgList dt h6{
    color: #ffffff;
    font-size: 32px;
    font-weight: normal;
    line-height: 50px;
    margin-bottom: 5px;
}
.ms-imgList dt h6 span{
    font-size: 40px;
    display: block;
}
.ms-imgList dt p{
    margin-top: 15px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: #ffffff;
}
.ms-imgList dt p a{
    color: #ffffff;
    font-size: 14px;
}
#ms-link2 dt h6,
#ms-link3 dt h6{
    line-height: 55px;
}
#ms-link2 dt h6{
    margin-bottom: 0;
}
#ms-link2 dt p span{
    font-size: 17px;
}
#ms-link2 dt h6 span,
#ms-link3 dt h6 span{
    font-size: 55px;
}
#ms-link3 dt{
    width: 189px;
    padding: 20px 0 40px 21px;
}
#ms-link3 dt p{
    margin-top: 10px;
    text-align: left;
    line-height: 32px;
}
#ms-link3 dt p span{
    font-size: 26px;
}
#ms-link1{
    border-top: 1px solid #fe8f45;
}
.ms-link1-dt{
    background: #fe8f45 url("img/img2.png") center bottom no-repeat;
}
#ms-link2{
    border-top: 1px solid #57acee;
}
.ms-link2-dt{
    background: #57acee url("img/img5.png") center bottom no-repeat;
}
#ms-link3{
    border-top: 1px solid #30ccc1;
}
.ms-link3-dt{
    background: #30ccc1 url("img/img6.png") center bottom no-repeat;
}

/* ms-imglist-ul */
.ms-imgList dd{
    float: left;
    margin: 0;
    padding: 0;
    width: 890px;
    overflow: hidden;
}
.ms-imglist-ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.ms-imglist-ul li{
    float: left;
    width: 177px;
    height: 128px;
    border: 1px solid #f0f0f0;
    border-top: 0 none;
    margin-left: -1px;
    position: relative;
    background: #ffffff;
}
.ms-imglist-ul li p{
    margin: 0;
    padding: 0;
    text-align: center;
}
.ms-imgListTips{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 0 0 14px 2px;
    width: 54px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    background: url("img/img4.png") no-repeat;
    z-index: 1;
}
.ms-box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fc7f2b;
    z-index: 2;
    display: none;
}
.ms-box a{
    display: block;
    margin: 8px auto 0;
    padding: 0 10px;
    width: 85px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #fcc49f;
    border-radius: 4px;
}
.ms-box a:hover{
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #fc7d28;
}
.ms-imglist-ul .current .ms-box{
    display: block;
}
.ms-img{
    width: 177px;
    height: 78px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    *font-size: 61px;
}
.ms-img img{
    vertical-align: middle;
    max-width: 120px;
    max-height: 50px;
}
.ms-category,
.ms-name{
    line-height: 20px;
}
.ms-category{
    color: #666666;
}
.ms-name{
    color: #a7a7a7;
}
.ms-more p{
    width: 177px;
    height: 128px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    *line-height: 75px;
}
.ms-more a{
    text-decoration: none;
    color: #a7a7a7;
}
.ms-more span{
    display: block;
    margin-top: -15px;
    *margin-top: -30px;
    font-size: 90px;
}

.ms-bgF5{
    background: #f5f5f5;
    padding: 40px 0 30px;
}
/* ms-selection */
.ms-selection{
    margin: 0;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #eeeeee;
}
.ms-selection-title{
    font-size: 16px;
    color: #666666;
    height: 50px;
    line-height: 50px;
    padding-bottom: 10px;
}
.ms-selection-title span{
    font-size: 26px;
    color: #222222;
    margin-right: 15px;
}
.ms-selection dd{
    margin: 0;
    padding: 5px 0 0 0;
}
.ms-selection-span{
    float: left;
    line-height: 35px;
    color: #666666;
    font-size: 14px;
    width: 80px;
}
.ms-selection-list{
    padding-left: 80px;
}
.ms-selection-list a{
    display: inline-block;
    padding: 0 25px;
    margin: 0 5px 10px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #666666;
    text-decoration: none;
    border: 1px solid #eeeeee;
    background: #ffffff;
}
.ms-selection-list .current,
.ms-selection-list a:hover{
    background: #fc7d28;
    border: 1px solid #fc7d28;
    color: #ffffff;
}
.ms-selectionList{
    padding: 25px 15px 0;
}
.ms-selectionList .ms-imglist-ul li{
    border-top: 1px solid #f0f0f0;
    margin-top: -1px;
}
.ms-selectionMore{
    text-align: center;
    padding-top: 20px;
}
.ms-selectionMore a{
    text-decoration: none;
    color: #999999;
    font-size: 14px;
    line-height: 22px;
}


.ms-bgImg{
    padding: 40px 0 30px;
    height: 451px;
    background: url("img/bg1.jpg") center center no-repeat;
}
.ms-transferProcess{
    position: relative;
    height: 148px;
    margin-top: 20px;
}
.ms-tpXian{
    position: absolute;
    top: 74px;
    *top: 59px;
    left: 0;
    width: 98%;
    border-bottom: 2px dashed #dedede;
}
.ms-tpBox{
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 144px;
    height: 144px;
    border-radius: 4px;
    background: #ffffff;
    border: 2px solid #d1d1d1;
    position: relative;
    z-index: 2;
    vertical-align: middle;
}
.ms-tpBox p{
    margin: 0;
    padding: 0;
    text-align: center;
}
.ms-tpBoxImg{
    display: table-cell;
    width: 144px;
    height: 100px;
    vertical-align: middle;
    *font-size: 78px;
}
.ms-tpBoxImg img{
    vertical-align: middle;
}
.ms-tpBox-txt{
    line-height: 24px;
    color: #666666;
    font-size: 20px;
}
.ms-tpJt{
    margin: 0 72px;
    vertical-align: middle;
}

/* ms-customerNumber */
.ms-customerNumber{
    margin: 0;
    padding: 90px 0 0 0;
}
.ms-customerNumber dt{
    color: #444444;
    font-size: 26px;
    line-height: 52px;
}
.ms-customerNumber dt span{
    font-size: 40px;
    padding: 0 8px 0 2px;
    background: #ffffff;
    display: inline-block;
    box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    margin-right: 5px;
}
.ms-customerNumber dd{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #444444;
    line-height: 45px;
}
.ms-customerNumber dd span{
    font-size: 30px;
    color: #444444;
    margin: 0 5px;
}


/* ms-footer */
.ms-footer{
    padding: 40px 0 20px;
    background: #869197 url("img/bg2.png") top center no-repeat;
}
.ms-footer .ms-selection-title{
    padding-bottom: 22px;
}
.ms-footer .ms-selection-title,
.ms-footer .ms-selection-title span{
    color: #ffffff;
}
.ms-address-list{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 132px;
    overflow: hidden;
}
.cur .ms-address-list{
    height: auto;
    overflow: auto;
}
.cur .ms-ckAddress{
    background: url("slice/icon17.png") center right no-repeat;
}
.ms-address-list li{
    width: 50%;
    padding-bottom: 22px;
    float: left;
    color: #ffffff;
    line-height: 22px;
}
.ms-ckAddress{
    text-decoration: none;
    color: #b6c4cc;
    font-size: 14px;
    padding-right: 25px;
    background: url("slice/icon16.png") center right no-repeat;
}
.ms-footerLink{
    line-height: 30px;
    padding-top: 15px;
}
.ms-footerLink a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    margin-right: 15px;
}
.ms-footerLink a:hover{ text-decoration:underline;}
.ms-footerTxt{
    padding-top: 10px;
    color: #c7cacf;
    line-height: 26px;
}
.ms-qqLink span{
    float: left;
    color: #c7cacf;
    line-height: 26px;
    width: 80px;
}
.ms-qqLink-list{
    padding-left: 80px;
}
.ms-qqLink-list a{
    text-decoration: none;
    color: #c7cacf;
    line-height: 26px;
    display: inline-block;
    margin-right: 15px;
}
.ms-qqLink-list img{
    vertical-align: middle;
    margin-right: 5px;
}
.ms-copy{
    margin: 0;
    padding: 20px 0 0 0;
    color: #c7cacf;
    line-height: 22px;
}

/* ms-sidebar */
.ms-sidebar{
    width: 60px;
    position: fixed;
    right: 20px;
    top: 50%;
    margin-top: -211px;
    background: #ffffff;
    z-index: 20;
}
.ms-sidebar span{
    position: relative;
    display: block;
    padding: 4px 0;
    text-align: center;
    background: #fc7d28;
    line-height: 26px;
    color: #ffffff;
}
.ms-sidebar span.jxwz{ background:none; color:#888; font-size:11px; text-align:center; line-height:20px; top:-10px}
.ms-sidebar span b{
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fc7d28;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: -6px;
}
.ms-sidebar a{
    display: block;
    padding: 8px 0;
    line-height: 20px;
    color: #777777;
    text-align: center;
    text-decoration: none;
    border: 1px solid #f2f2f2;
    margin-top: -1px;
}
.ms-sidebar a:hover{
    color: #fc7d28;
}
.ms-call{
    position: relative;
}
.ms-call.current .ms-sidebarTel{
    display: block;
}
.ms-sidebarTel{
    width: 115px;
    padding: 15px;
	padding-bottom:5px;
    border: 1px solid #eeeeee;
    position: absolute;
    top: 0;
    right: 59px;
    background: #ffffff;
    display: none;
}
.ms-sidebarTel p{
    margin: 0;
    padding: 0 0 15px;
    color: #777777;
    line-height: 20px;
}
.ms-sidebarTel em{
    display: block;
    font-size: 16px;
    font-weight: bold;
}
.ms-sidebarTel input[type="text"]{
    padding: 0 10px;
    width: 93px;
    height: 22px;
    line-height: 22px\9;
    border: 1px solid #cccccc;
}
.ms-sidebarTel a{
    margin-top: 10px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    padding: 0;
    background: #fc7f2b;
    border: 0 none;
}
.ms-sidebarTel a:hover{
    color: #ffffff;
}

/* ms-loginBox */
.ms-boxBg{
    position: fixed;
    background: #000000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 17;
}
.ms-loginBox{
    background: #ffffff;
    position: fixed;
    z-index: 20;
    padding: 30px;
    top: 0;
    left: 0;
    width: 290px;
    display: none;
}
.ms-phone{
    display: none;
}
.ms-close{
    position: absolute;
    top: 5px;
    right: 10px;
}
.ms-login h6{
    margin: 0;
    padding: 0;
    line-height: 40px;
    color: #383838;
    font-size: 21px;
    font-weight: normal;
}
.ms-login .ms-loginTab{
    float: right;
    color: #57a1f0;
    font-size: 12px;
}
.ms-errorTips p{
    margin: 5px 0 0 0;
    padding: 0 30px;
    line-height: 28px;
    border: 1px solid #ffddb2;
    background: #fff7e1;
    color: #e80b05;
}
.ms-input{
    margin-top: 20px;
    padding: 0 10px;
    height: 38px;
    border: 1px solid #cccccc;
    border-radius: 2px;
}
.ms-input input{
    margin: 0 0 0 10px;
    padding: 0;
    font-size: 14px;
    height: 38px;
    line-height: 38px\9;
    border: 0 none;
    outline: none;
    width: 88%;
    vertical-align: middle;
}
.ms-loginBtn{
    display: block;
    margin-top: 15px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    background: #fc7d28;
    border-radius: 2px;
}
.ms-phoneInput{
    margin-top: 20px;
}
.ms-phoneInput .ms-input{
    float: left;
    width: 55%;
    margin: 0;
}
.ms-phoneInput .ms-input input{
    width: 81%;
}
.ms-phoneInput .ms-sent{
    float: right;
    width: 35%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background: #a1a9b7;
    border-radius: 2px;
}
.ms-loginMain.cur .ms-username{
    display: none;
}
.ms-loginMain.cur .ms-phone{
    display: block;
}


/* us-icon */
.us-icon{
    display: inline-block;
    vertical-align: middle;
}
.us-icon2{
    width: 15px;
    height: 10px;
    background-image: url("slice/icon2.png");
    margin: -1px 1.5px 0;
}
.us-icon3{
    width: 17px;
    height: 14px;
    background-image: url("slice/icon3.png");
    margin: -1px 1px 0 0;
}
.us-icon4{
    width: 18px;
    height: 17px;
    background-image: url("slice/icon4.png");
    margin-top: 5px;
}
.us-icon5{
    width: 13px;
    height: 20px;
    background-image: url("slice/icon5.png");
    margin: -1px 2.5px 0;
}
.us-icon6{
    width: 25px;
    height: 25px;
    background-image: url("slice/icon6.png");
    margin-right: 10px;
}
.us-icon7,
.us-icon8,
.us-icon9,
.us-icon10{
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.us-icon7{
    background-image: url("slice/icon7.png");
}
.us-icon8{
    background-image: url("slice/icon8.png");
}
.us-icon9{
    background-image: url("slice/icon9.png");
}
.us-icon10{
    background-image: url("slice/icon10.png");
}
a:hover .us-icon7{
    background-image: url("slice/icon7_cur.png");
}
a:hover .us-icon8{
    background-image: url("slice/icon8_cur.png");
}
a:hover .us-icon9{
    background-image: url("slice/icon9_cur.png");
}
a:hover .us-icon10{
    background-image: url("slice/icon10_cur.png");
}
.us-icon12{
    width: 16px;
    height: 16px;
    background-image: url("slice/icon12.png");
    margin: -3px 0 0 5px;
}
.us-icon14{
    width: 23px;
    height: 21px;
    background-image: url("slice/icon14.png");
}
.us-icon15{
    width: 19px;
    height: 17px;
    background-image: url("slice/icon15.png");
}
.us-icon18{
    width: 17px;
    height: 18px;
    background-image: url("slice/icon18.png");
}
.ms-close:hover .us-icon18{
    background-image: url("slice/icon18_cur.png");
}
.us-icon19{
    width: 17px;
    height: 17px;
    background-image: url("slice/icon19.png");
    margin: -3px 15px 0 0;
}
.us-icon20{
    width: 13px;
    height: 20px;
    background-image: url("slice/icon20.png");
    margin-right: 3px;
}
.us-icon21{
    width: 14px;
    height: 18px;
    background-image: url("slice/icon21.png");
    margin-right: 2px;
}
.us-icon22{
    width: 16px;
    height: 11px;
    background-image: url("slice/icon22.png");
    margin-top: 3px;
}