<script type="text/javascript" src="<?=StaticDir?>js/jquery.min.js"></script>
<style>
	*{margin:0px;padding:0px;}
	body{width:100%;font-size:12px;}
	li{list-style: outside none none;}
	.rightgroup{width:100%;}
	.grouplist ul{margin:10px;height:auto;}
	.grouplist ul li{height:auto;width:500px;}
	.grouplist ul li label{margin:10px;display:block;}
	.topgrounp ul {margin:10px 0px 0px 10px; }
	.topgrounp ul li{float:left; width:90px;text-align:center;line-height:30px;height:30px;border:1px #ccc solid;margin-left:-1px;cursor:pointer; }
	.selected{background:#EAEAEA;}
	.clear{clear:both;}
	.button{padding-left:20px;}
	.subbutton{border:0;width:60px; height:30px; line-height:30px; color:#fff; background-color:#4098CA; font-size:14px; font-weight:bold;border-radius: 3px; cursor:pointer;}
</style>
<div class="rightgroup" >

	<div class="topgrounp">
		<ul id="tabs">
		<?php
		$count = count($groups) > 10 ? ceil( count($groups)/10 ) : 0;

		foreach($groups as $k => $v){
			if(($k+1) % 10 != 0 && ($k+1) % 10 != 1 && ($k+1) != count($groups)){ continue; }
			if(($k+1) % 10 == 1){
				echo "<li>".$v['group']."--";
			}
			if(($k+1) % 10 == 0 || ($k+1) == count($groups) ){
				echo $v['group']."</li>";
			}
		}
		?>
		<div class="clear"></div>
		</ul>
	</div>

	<div class="grouplist" id="grouplist">
		<ul>
		<?php
		foreach($groups as $k => $v){
			echo "<li><label><input type='checkbox'  style='vertical-align:-2px;' class='tmClass' value='".$v['group']."' >&nbsp;【".$v['group']."】".$v['cn_name']."</label></li>";
			if(($k+1) % 10 == 0){
				echo "</ul><ul style='display:none'>";
			}
		}
		?>
		</ul>
	</div>
	<div class="button">
		<input  type="button" class="subbutton" id="checkall" value="全/反选"/>
		<input  type="button" class="subbutton" id="checktrue" value="确定"/>
	</div>
</div>   

<script type="text/javascript">
$(document).ready(function () {
	var pobj = parent.$('#groupes').val();
	if(pobj){
		$('.tmClass').each(function(){
			var thisval = $(this).val();
			if(pobj.indexOf(thisval) != -1){
				$(this).prop('checked',true);
			}
		})
	}
	
	//无限
	$('#checkall').bind('click',function(){
		var bool = true;
		$('.tmClass').each(function(){
			//if($(this).is(':visible')){
				if(!$(this).prop('checked')){
					bool = false;
				}
			//}
		})
		if(bool){
			$('.tmClass').prop('checked',false);
		}else{
			$('.tmClass').prop('checked',true);
		}
	})
		
	//切换
	$("#tabs li").bind("mouseover", function () {
		$(this).addClass("selected").siblings().removeClass('selected');
		var indexs = $(this).index();
		var divs = $("#grouplist > ul");
		divs.hide();//隐藏所有选中项内容
		divs.eq(indexs).show(); //显示选中项对应内容
	});
	 $("#tabs li").eq(0).addClass("selected");
	 
	 //给父页面传值
	$('#checktrue').on('click', function(){
		var str   = '';
		$('.tmClass').each(function(){
			//if(this.checked && pobj.indexOf($(this).val()) == -1){
			if(this.checked){
				str += ","+$(this).val();
			}
		})
		//str = pobj == '' ? str.substr(1) : pobj+str;
		str = str == '' ? "" : str.substr(1);
		parent.$('#groupes').val(str);
		if(str){
			parent.layer.tips('Look here', '#groupes', {time: 5000});
		}
		//关闭当前IFRAME
		var index = parent.layer.getFrameIndex(window.name); //获取当前窗体索引
		parent.layer.close(index);
	});


});


</script>
